/*::::::::::::INICIO PROYECTO COMUNITARIO::::::::::::*/
.comunitario
    margin-top: 56px
    .principalimg
        background-image: url(../img/comunitario-2.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 26px
            text-align: center
            text-transform: uppercase
            margin-top: 240px
            text-shadow: 2px 2px 4px #000000
    .titulogaleria-2
        background-color: #DA604C
        width: 100%
        margin: 0 auto
        height: 48px
        h1
            color: white
            font-size: 19px
            text-transform: uppercase
            text-align: center
            padding: 13px
    .expand
        background-color: #465BA7
        width: 30px
        height: 30px
        position: absolute
        z-index: 1
        right: 14%
        top: 5%
        border-radius: 25px
        i
            color: white
            font-size: 15px
            top: 31%
            position: absolute
            right: 32%
    .framev
        margin-top: 15px
        height: 345px
    .ttltecnica
        width: 100%
        margin: 0 auto
        height: 48px
        background-color: #EA8B46
        h1
            color: white
            font-size: 19px
            text-transform: uppercase
            text-align: center
            padding: 13px
    h2
        font-family: 'proxima_nova_altlight'
        font-size: 14px
        color: $gristexto
        line-height: 0px
        span
            font-family: 'montserratbold'
            font-size: 14px
            color: $grisoscuro
    p
        font-family: 'proxima_nova_altlight'
        font-size: 14px
        color: $gristexto
    ul
        margin-top: -20px
    li
        float: left
        padding: 10px
        color: #00A79B
        font-size: 24px
    .btn
        border-radius: 25px
        float: right
        margin-top: 13px
    .fondo-descrip-2
        width: 100%
        background-color: #F1F1F1
        padding: 15px
        h1
            color: #333333
            font-size: 14.73px
            font-family: "proxima_nova_altlight"
            text-align: left
            text-transform: uppercase
            margin: 0
        li 
            font-size: 15px
            font-family: "proxima_nova_altlight"
            color: #808080
            list-style: disc
            margin-left: 24px
            float: none
            line-height: 16px
            margin-top: -5px
        ul
            margin: 0
    .ttlficha
        width: 100%
        height: 50px
        background-color: $morado
        h1
            font-family: 'montserratbold'
            color: white
            font-size: 19px
            text-align: center
            text-transform: uppercase
            padding: 15px
    .total
        background-color: #E5E5E4
        width: 100%
        height: 111px
        margin-top: 7px
        h1
            font-family: 'proxima_nova_altlight'
            font-size: 14px
            color: $gristexto
            text-transform: uppercase
            span
                font-family: 'montserratbold'
                text-transform: uppercase
    .financiamiento
        background-color: $fondoblanco
        width: 100%
        height: 111px
        margin-top: 7px
        h1
            font-family: 'proxima_nova_altlight'
            font-size: 14px
            color: $gristexto
            text-transform: uppercase
            text-align: center
            margin: 0px
            span
                font-family: 'montserratbold'
                text-transform: uppercase
        li.listaw
            width: 80%
        .rango
            /*width: 100%*/
            background-color: $turquesa
            height: 12px
    .objetivo
        background-color: $fondoblanco
        width: 100%
        margin-top: 7px
        border-top: 1px solid black
        padding: 15px
        h1
            font-family: 'montserratbold'
            font-size: 14px
            color: $gristexto
            text-transform: uppercase
        p
            font-size: 14px
            color: $gristexto
            font-family: 'proxima_nova_altlight'
            margin: 0px

/*:::::::::::MEDIA QUERY COMUNITARIO:::::::::::*/      

@media (max-width:1110px) and (min-width:600px)
    .comunitario
        .ttltecnica
            h1
                font-size: 12px
                padding: 20px

@media (max-width:640px)
    .comunitario
        h2
            span
                font-size: 13px
                
@media (max-width:992px)
    .comunitario
        margin-top: 0px
        .fondo-descrip-2
            margin-top: 15px
            
@media (max-width:1221px)
    .comunitario
        .financiamiento
            height: 122px
            li.listaw
                width: 60%
            
@media (max-width:800px)
    .comunitario
        .principalimg
            height: 272px
            h1
                font-size: 22px
                margin-top: 38px
/*@media (max-width:1425px) and (min-width:993px)
    .comunitario
        .financiamiento
            .rango
                width: 118px*/
