/*:::::::::::::INICIO COMUNIDAD INTERNO:::::::::::::*/
.comunidad-inter
    margin-top: 56px
    .principalimg
        background-image: url(../img/kamarata.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 60px
            text-align: center
            text-transform: uppercase
            margin-top: 200px
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 14px
    h2
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
        span
            font-size: 24px
            float: right
            a
                color: $rosa
                font-size: 18px
    .birongo-iner
        background-image: url(../img/birongo-iner.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 70px
            text-align: center
            text-transform: uppercase
            margin-top: 200px
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 14px
    h2
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
        span
            font-size: 24px
            float: right
            a
                color: $rosa
                font-size: 18px
    .viajexperencial, .viaje-volun
        background-image: url(../img/viajex-experen.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        margin-bottom: 45px
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 70px
            text-align: center
            text-transform: uppercase
            margin-top: 170px
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 14px
    h2
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
        span
            font-size: 24px
            float: right
            a
                color: $rosa
                font-size: 18px
    .viaje-volun
        background-image: url(../img/viaje-volun.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        margin-bottom: 45px
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 70px
            text-align: center
            text-transform: uppercase
            margin-top: 170px
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 14px
    h2
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
        span
            font-size: 24px
            float: right
            a
                color: $rosa
                font-size: 18px
    .viaex
        background-image: url(../img/viajex.jpg)
        background-position: center center
        background-size: cover
        height: 259.44px
        background-repeat: no-repeat
        position: relative
        img
            position: absolute
            z-index: 1
            width: 100%
            height: 259.44px
            top: 0%
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 21px
            text-transform: uppercase
            position: absolute
            left: 2%
            bottom: 3%
            z-index: 2
        h2
            font-family: 'proxima_nova_altlight'
            color: white
            font-size: 16px
            text-transform: uppercase
            position: absolute
            bottom: 3%
            right: 2%
            z-index: 2
        .verdeprecio
            background-color: $verdeclaro
            height: 43px
            width: 143px
            position: absolute
            top: 0%
            right: 0%
            p
                color: white
                font-family: 'proxima_nova_altlight'
                font-size: 12px
                text-transform: uppercase
                text-align: center
        .carnedia
            background-color: $carne
            height: 43px
            width: 143px
            position: absolute
            top: 0%
            right: 15%
            p
                color: white
                font-family: 'proxima_nova_altlight'
                font-size: 12px
                text-transform: uppercase
                text-align: center
    .fondogris
        background-color: $grisfondo
    a.btn
        border: 1px solid $grisoscuro
        background-color: transparent
        color: $grisoscuro
        font-family: 'proxima_nova_altlight'
        font-size: 18px
        width: 90%
        margin: 0 auto
        display: block
        margin-bottom: 20px
        
.fondo-viaje
    padding-bottom: 20px
    padding-top: 20px
    background-color: $fondoblanco
    
/*::::::::::::::MEDIA QUERY COMUNIDAD INTERNA::::::::::::::*/

@media (max-width:1400px)
    .comunidad-inter
        .viaex
            .carnedia
                left: 0%

@media (max-width:1400px)
    .comunidad-inter
        .viaex
            h1
                bottom: 15%
                
@media (max-width:1150px) and (min-width:659px)
    .comunidad-inter
        h2
            font-size: 29px
            span
                font-size: 15px
                a
                    font-size: 13px
@media (max-width:680px)
    .comunidad-inter
        .viaje-volun, .birongo-iner
            height: 210px
            h1
                font-size: 34px
                margin-top: 25px
        .center-block
            width: 100% !important
    
@media (max-width:658px)
    .comunidad-inter
        h2
            font-size: 29px
            span
                font-size: 15px
                float: left
                a
                    font-size: 13px
    
@media (max-width:460px)
    .comunidad-inter 
        .principalimg
            height: 200px
            h1
                margin-top: 16px
                font-size: 49px
        .viaex
            img
                position: absolute
                top: -30%
                height: 130%
            .carnedia
                left: 0%
            h1
                bottom: 14%
    .padding80
        padding: 20px !important
        
@media (max-width:600px)
    .comunidad-inter
        .viajexperencial
            height: 225px
            h1
                font-size: 40px
                margin-top: 0px
            
@media (max-width:992px)
    .comunidad-inter
        margin-top: 0px
    
    
    
            