/*:::::::::::INICIO DATOS CUENTA:::::::::::*/
.datos
    h1
        font-family: 'montserratregular'
        font-size: 16px
        color: $gristexto
        text-transform: uppercase
    .subnav-datos
        width: 100%
        background-color: $grisfondo
        height: 84.724px
        margin-top: 56px
        h1
            font-family: 'montserratregular'
            color: $gristexto
            font-size: 12px
            text-align: center
            text-transform: uppercase
        h2
            font-family: 'proxima_nova_altlight'
            color: $gristexto
            font-size: 14px
            text-align: center
            text-transform: uppercase
td
    width: 33%
tr
    height: 80.337px
    h3
        font-family: 'montserratregular'
        font-size: 16px
        color: $grisoscuro
        text-transform: uppercase
        margin-left: 10px
    h4
        font-family: 'montserratregular'
        font-size: 14px
        color: $gristexto
        text-transform: uppercase
    p
        font-family: 'montserratregular'
        font-size: 10px
        color: $gristexto
        text-transform: uppercase
        text-align: right
        margin-right: 25px
        
.btn-datos
    margin: 0 auto
    width: 127px
    height: 35px
    display: block
    margin-top: 20px
    border-radius: 25px
    background-color: #DA604C
    font-family: "montserratbold"
    font-size: 12.49px
    color: white
    text-transform: uppercase
    text-align: center
    p
        margin-top: 10px
        
/*::::::::::::MEDIA QUERY DATOS CUENTA::::::::::::*/

@media (max-width:450px)
    tr
        h3
            font-size: 10px
        h4
            font-size: 10px
            
@media (max-width:992px)
    .datos
        .subnav-datos
            margin-top: 0px