/*::::::::::::::::::INICIO EPOSAK::::::::::::::::::*/

.quees
    margin-top: 57px
    margin-bottom: -40px
    h1
        font-family: 'montserratbold'
        font-size: 46px
        color: $morado2
        text-align: center
        margin-top: 50px
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 16px
        padding: 20px
    h2
        text-align: center
        font-family: 'montserratregular'
        font-size: 16px
        color: $morado2
        text-transform: uppercase
    li
        float: left
    .mini-menu
        position: fixed
        bottom: 5%
        background-color: $morado2
        width: 100%
        margin: 0 auto
        /*height: 123px*/
        ul
            margin: 0 auto
            width: 1063px
        li
            border-left: 1px solid white
            font-family: 'proxima_nova_rgbold'
            color: white
            font-size: 13.28px
            text-align: center
            text-transform: uppercase
            padding: 15px
            height: 123px
            width: 143px
            min-width: 110px
            &:last-child
                border-right: 1px solid white
            &:hover
                background-color: rgba(255,255,255,0.3)
    .altura-movil
        background-image: url(../img/quees1.jpg)
        background-position: center center
        background-size: cover
        width: 100%
        height: 913px
    .altura-movil-2
        background-image: url(../img/quees2.jpg)
        background-position: center center
        background-size: cover
        width: 100%
        height: 913px
    .indica
        width: 100%
        display: block
        margin-bottom: 50px
        margin-left: auto
        margin-right: auto
        position: relative
    .active
        /*width: 75%*/
        margin: 0 auto
/*::::::MODIFICACION CORRIUSEL BOOSTRAP::::::*/

.carousel-indicators
    display: block !important
    margin: 0 auto !important
    position: absolute !important
    bottom: inherit !important
    z-index: inherit !important
    width: 100% !important
    margin-left: 0px !important
    left: 44% !important
    .active
        background-color: $morado2 !important
    li
        border: 1px solid #979797 !important
    
.carousel-control.left, .carousel-control.right
    background-image: none !important
    
.flecha
    background-color: gray
    border-radius: 20px
    width: 40px
    height: 40px
    padding: 5px
/*:::::MEDIA QUERTY MODIFICACION CAROUSEL BOOSTRAP:::::*/

@media screen and (min-width: 768px)
    .carousel-indicators
        bottom: inherit !important
    
@media (max-width:400px)
    .carousel-indicators
        left: 37% !important

/*::::::::::::MEDIA QUERY EPOSAK::::::::::::*/

@media (max-width:992px)
    .altura-movil, .altura-movil-2
        height: 200px !important
    .quees
        margin-top: 0px
    
@media (min-width:1064px)
    .quees
        .mini-menu
            ul
                width: 1006px
            li
                font-size: 12.28px