/*:::::::::::INICIO CASOS DE EXITO:::::::::::*/
.exito
    h1
        font-family: 'montserratregular'
        font-size: 36px
        color: $gristexto
        text-transform: uppercase
    p
        font-family: 'proxima_nova_altlight'
        font-size: 17.82px
        color: $gristexto
    h2
        font-family: 'montserratregular'
        font-size: 24px
        color: $grisoscuro
        text-transform: uppercase
        span
            color: $carne
            text-transform: uppercase
    .ficha
        background-color: rgba(251, 186, 94,0.3)
        width: 100%
        padding: 15px
        height: 225px
        margin-top: 10px
        h3
            font-family: 'montserratregular'
            color: $carne
            font-size: 16px
            text-transform: uppercase
            span
                font-size: 9.39px
                color: $rojo
                border-bottom: 2px solid $rojo
                text-transform: uppercase
                font-family: 'montserratbold'
                float: right
                line-height: 11px
    .ficha-2
        background-color: rgba(220, 95, 52,0.1)
        width: 100%
        height: 225px
        margin-top: 10px
        padding-right: 15px
        h3
            font-family: 'montserratregular'
            color: $carne
            font-size: 16px
            text-transform: uppercase
            span
                font-size: 9.39px
                color: $rojo
                border-bottom: 2px solid $rojo
                text-transform: uppercase
                font-family: 'montserratbold'
                float: right
                line-height: 11px
    .back-comu
        background-image: url(../img/comunitario.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100%
        position: relative
        .mas-expan
            position: absolute
            background-color: rgba(251, 186, 94,0.8)
            width: 37px
            height: 37px
            top: 5%
            right: 5%
            border-radius: 20px
            i
                color: white
                font-size: 20px
        p
            font-family: 'proxima_nova_altlight'
            color: $gristexto
            font-size: 14.09px
            
/*::::::::::::::MEDIA QUERY CASOS DE EXITO::::::::::::::*/
@media (max-width:795px) and (min-width:600px)
    .exito
        .ficha, .ficha-2
            height: 305px
            
@media (max-width:600px)
    .exito
        h1
            font-size: 25px
        p
            font-size: 13.82px
        h2
            font-size: 20px
            margin-top: -15px
        .ficha
            padding: 5px
            h3
                span
                    margin-top: -16px
                    
@media (max-width:710px)
    .comunidad-inter
        .principalimg
            h1
                font-size: 34px
    
            
            