/*::::::::::::::::INICIO GENERAL::::::::::::::::*/
.slider
    .indicators
        display: none

.carousel
    height: auto !important
    
.slidepo
    position: relative
    height: 88vh
    margin-top: 56px
    h3
        color: white
        font-family: 'montserratregular'
        font-size: 22px
        text-align: center
        text-transform: uppercase
        text-shadow: 2px 2px 4px black
    
.padding0
    padding: 0 !important
    
.padding80
    padding: 40px !important

.relative
    position: relative

.margintop20
    margin-top: 20px
    
footer
    height: 46px
    background-color: $grisfooter
    padding: 1px
    p
        font-family: 'proxima_nova_altlight'
        color: white
        font-size: 16px
        text-align: center
    a
        color: white
        
.btn-subir
    height: 84px
    width: 100%
    background-color: $grisfondo
    text-align: center
    h1
        color: $grisfooter
        font-size: 30px
        margin-top: 15px
    p
        font-family: 'montserratregular'
        font-size: 16px
        color: $grisfooter
        margin-top: -24px
        
.container-fluid
    margin: 0 auto
    width: 100%
    
.dropdown-content
    width: 250px !important
    /* top: 1005.188px !important */
    background-color: #FBBA5E
    position: inherit
    z-index: 99
    li
        font-family: 'montserratlight' !important
        text-transform: uppercase !important
        font-size: 18px !important
        &:hover
            background-color: rgba(255,255,255,0.3) !important
        a
            color: white !important
        
.drop-rojo
    background-color: #DA604C !important

.margin-topc
    margin-top: 56px !important

.modal-index
    background-color: transparent !important
    max-height: 100% !important
    box-shadow: none !important

.ver-video
    color: white
    text-align: center
    font-size: 16px
    font-family: 'montserratregular'
    margin-top: 120px
    text-shadow: 2px 2px 4px black

.down-dos
    position: absolute
    bottom: 8%
    right: 49%
    z-index: 2
    color: white !important
    font-size: 30px !important
    text-align: center
    &:hover
        color: white !important
    &:active
        color: white !important
    h3
        font-size: 20px !important
        
/*.modal-p
    min-height: 500px*/
/*::::::::::::INICIO BUSCADOR:::::::::::*/
.buscar
    background-color: $fondoblanco
    width: 100%
    height: 84.724px
    margin-top: 58px
    padding-top: 18px
    display: none
    margin-bottom: -56px
    .col-1
        width: 95%
        float: left
        height: 47.667px
        input
            background-color: white
            border-bottom: none !important
            padding-left: 20px
            height: 47.667px
    .col-2
        width: 5%
        float: left
        background-color: $rosa
        height: 47.667px
        i
            font-size: 20px
            color: white
            
.resultado
    background-color: $fondoblanco
    height: 74vh
    margin-top: 58px
    margin-bottom: -56px
    padding-bottom: 20px
    h1
        font-size: 16px
        font-family: "montserratbold"
        color: #333333
        span
            color: #5878B5
            font-size: 17px
    p
        font-family: "montserratlight"
        color: #808080
        font-size: 14px
        span
            color: #5878B5
            font-size: 16px
    .pagination
        margin-top: -10px

/*::::::::::MEDIA QUERY BUSCAR::::::::::*/

@media (max-width:600px)
    .buscar
        .col-1
            width: 80%
        .col-2
            width: 20%

/*::::::PARA CENTRAR VERTICALMENTE::::::*/

.pvertical
    display: table
    
.hvertical
    display: table-cell
    vertical-align: middle
    
/*:::::ES PARA MODIFICAR LA LIENA DEBAJO DE LOS INPUT DE MATERIALIZE:::::*/    

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly])
    border-bottom: none
    box-shadow: none
    width: 75% !important
    
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid
    border-bottom: none
    box-shadow: none
    width: 75% !important

/*::::::::MEDIA QUERY FOOTER::::::::*/

@media (max-width:680px)
    footer
        p
            font-size: 12px
            
@media (max-width:500px)
    footer
        p
            margin-top: 6px
            
@media (max-width:992px)
    .slidepo
        height: 92vh
        margin-top: 4px
    .margin-topc
        margin-top: 0px !important4
        

/* ------------- Flexcroll CSS ------------ */        
        
#scroll
    width: 100%
    height: 200px
    overflow: auto

#scroll ul
    float: left
    margin-right: -999em
    white-space: nowrap
    list-style: none

#scroll li
    margin: 0px
    text-align: center
    float: left
    display: inline           

#scroll 
    img
        border: 0
        display: block
        border: 1px solid #A3CBE0

#scroll
    a
    &:active
        img
            border: 1px solid #000
        
#scroll
    a
    &:focus
        img
            border: 1px solid #000
        
#scroll
    a
    &:hover
        img
            border: 1px solid #000

#scroll 
    a
    text-decoration: none
    font-weight: bold
    color: #000

#scroll 
    &:active
    color: #FFF
    
#scroll 
    &:focus
    color: #FFF
    
#scroll 
    &:hover
    color: #FFF

#scroll
    span
    padding: 5px 0 0
    display: block


.scrollgeneric
    line-height: 1px
    font-size: 1px
    position: absolute
    /*top: 0left:0*/

.hscrollerbase
    height: 17px

.hscrollerbar
    height: 12px
    background: #DA604C
    cursor: e-resize
    padding: 3px
    border-radius: 7px

.hscrollerbar
    &:hover
    background: #DA604C
    border-radius: 7px

.btn 
   &:hover
   text-decoration: none 