/*:::::::::::::::::INICIO HOME:::::::::::::::::*/

.home
    padding-bottom: 78px
    padding-top: 78px
    h1
        font-family: 'montserratregular'
        font-size: 36px
        color: $gristexto
        text-transform: uppercase
        a
            font-family: 'montserratbold'
            color: $rosa
            font-size: 16px
            float: right
            text-decoration: none
            border-bottom: 4px solid $rosa
            line-height: 17px
            padding-top: 20px
    p
        font-family: 'proxima_nova_altlight'
        font-size: 18px
        color: $gristexto
        text-align: left
    h2
        font-family: 'montserratregular'
        color: black
        font-size: 22px
        text-transform: uppercase
    h6
        font-family: 'montserratregular'
        font-size: 14px
        color: $gristexto
    h3
        font-family: 'montserratbold'
        font-size: 18px
        color: black
    a
        text-decoration: none
        color: black
    .m6
        padding: 80px
    .img-dia-left
        background-image: url(../img/pajarito.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        height: 300px
        width: 100%
        padding: 0px
    .img-dia-cerrado
        background-image: url(../img/pajarito.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        height: 500px
        width: 100%
        padding: 0px
    .dia-left
        height: 357.46px
        padding: 20px
        background-color: $fondoblanco
        h2
            font-family: 'montserratregular'
            font-size: 14px
            color: $gristexto
            margin: 0px !important
        h1
            font-family: 'montserratbold'
            font-size: 18px
            color: $grisoscuro
            margin: 15px 0px 0px 0px
            span
                color: $rosa
                font-size: 16px
                border-bottom: 2px solid $rosa
                float: right
        p
            font-family: 'montserratregular'
            font-size: 14px
            color: $gristexto
    .dia-cerrado
        height: 157.46px
        padding: 20px
        background-color: $fondoblanco
        h1
            font-family: 'montserratbold'
            font-size: 18px
            color: $grisoscuro
            margin: 0px !important
        
.grish
    background-color: $fondoblanco
    
.eligedestino
    width: 80%
    margin: 0 auto
    display: block
    position: absolute
    z-index: 2
    bottom: 50%
    .col-1
        border: 2px solid white
        height: 60.472px
        width: 20%
        float: left
        p
            font-family: 'montserratregular'
            color: white !important
            font-size: 20px
            text-align: center
    .col-2
        width: 70%
        height: 60.472px
        background-color: white
        border: 2px solid white
        float: left
        padding-left: 20px
        p
            color: $grisfooter !important
            font-size: 20px
            font-family: 'montserratregular'
            text-align: left
    .col-3
        width: 10%
        height: 60.472px
        border: 2px solid white
        float: left
        i
            color: white
            text-align: center
            font-size: 34px
    .col2
        width: 70%
        height: auto
        background-color: white
        border: none
        float: left
        padding-left: 20px
        p
            color: $grisfooter !important
            font-size: 20px
            font-family: 'montserratregular'
            text-align: left
    .fa-angle-down
        cursor: pointer
            
.eligedestino2
    position: absolute
    width: 100%
    margin-top: 61px
    .col-1
        border: none
        height: 60.472px
        width: 20%
        float: left
        p
            font-family: 'montserratregular'
            color: white !important
            font-size: 20px
            text-align: center
    .col-2
        width: 70%
        height: 60.472px
        background-color: white
        border: 2px solid white
        float: left
        padding-left: 20px
        p
            color: $grisfooter !important
            font-size: 20px
            font-family: 'montserratregular'
            text-align: left
    .col-3
        width: 10%
        height: 60.472px
        float: left
        i
            color: white
            text-align: center
            font-size: 34px
    .col2
        width: 70%
        height: auto
        background-color: white
        border: none
        float: left
        padding-left: 20px
        p
            color: $grisfooter !important
            font-size: 20px
            font-family: 'montserratregular'
            text-align: left            
            
.slider
    .slides
        li
            .caption
                top: 25% !important
                
.sl-video
    position: absolute
    bottom: 8%
    right: 3%
    z-index: 2

.imgnoti, .galeimg
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    
/*::::::::::INICIO MEDIA QUERY HOME::::::::::*/

@media (max-width:1230px)
    .home
        .dia-left, .dia-cerrado
            h1
                font-size: 14px
            p
                font-size: 11px
                margin-top: 0px
    
@media (max-width:600px)
    .home
        p
            text-align: left
        .m6
            padding: 17px
        .dia-left
            height: 250.46px
    .slider
        .slides
            li
                .caption
                    top: 15% !important
            
@media (max-width:1110px)
    .eligedestino
        .col-1
            p
                font-size: 11px
        .col-2
            p
                font-size: 14px
        .col-3
            i
                font-size: 29px
                
@media (max-width:992px)
    .eligedestino
        width: 100%
    .slider
        .slides
            li
                .caption
                    width: 90%
                    left: 5%
    .home
        p
            /*margin-top: 40px*/
            padding-top: 14px
        h1
            font-size: 30px
            a
                padding-top: 0px
                margin-bottom: 10px
                
@media (max-width:400px)
    .home
        h1
            a
                font-size: 13px
                border-bottom: 3px solid #DA604C
                    
                    
    