/*::::::::::::::::INICIO BARRA NAVEGACION::::::::::::::::*/
/* line 3, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
nav {
  background-color: white;
  color: #808080; }
  /* line 6, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  nav li {
    min-width: 100px; }

/*# sourceMappingURL=_nav.css.map */