/*::::::::::::::::INICIO BARRA NAVEGACION::::::::::::::::*/

nav
    background-color: white
    height: 120px
    .brand-logo
        position: inherit
        display: inline !important
        img
            margin-top: 12px
    i.material-icons
        color: $gristexto
        padding-left: 20px
    .brand-logo
        margin-top: 12px
    ul
        height: 120px
        a
            color: $gristexto !important
            font-family: 'montserratregular'
            font-size: 14px
            height: 120px
            text-align: center
            padding-top: 40px
            border-bottom: 10px solid $gristexto
            width: 125px
            line-height: 19px
            &:hover
                color: white !important
                background-color: rgba(70, 91, 167, 0.6)
                border-bottom: 10px solid $azul
        a.verdeoscuro
            border-bottom: 10px solid $azul
            &:hover
                background-color: rgba(70, 91, 167, 0.6) !important
        a.verdeclaro
            border-bottom: 10px solid $verdeclaro
            &:hover
                background-color: rgba(128,154,31,0.6) !important
        a.carne
            border-bottom: 10px solid $carne
            &:hover
                background-color: rgba(251,186,94,0.6) !important
        a.carne2
            border-bottom: 10px solid $carne2
            &:hover
                background-color: rgba(234,139,70,0.6) !important
        a.naranja
            border-bottom: 10px solid $naranja
            &:hover
                background-color: rgba(220,95,52,0.6) !important
        a.rojo
            color: $rojo !important
            border-bottom: 10px solid $rojo
            padding-top: 26px
            &:hover
                background-color: rgba(208,32,41,0.6) !important
            
.redesnav
    ul
        li
            a
                font-size: 24px !important
                color: $rosa !important
                border: none !important
                width: 25px !important
                min-width: 25px !important
                &:hover
                    background-color: transparent
                    color: $gristexto !important
                
.idiomanav
    position: absolute
    right: 1%
    top: -15%
    ul
        li
            float: right !important
            a
                font-size: 12px !important
                border: none !important
                padding: 0px
                min-width: auto !important
                &:hover
                    background-color: transparent
                    text-decoration: underline
            a.idiomafuera
                font-family: 'montserratbold' !important
                width: inherit !important
                color: $rosa !important
            a.idiomadentro
                font-family: 'montserratlight' !important
                width: inherit !important
                color: $gristexto !important
    
/*::::::::::MEDIA QUERY BARRA DE NAVEGACION::::::::::*/

@media (min-width:993px) and (max-width:1193px)
    nav
        ul
            a
                width: 107px
            
@media (max-width:600px)
    nav
        .brand-logo
            img
                margin-top: -45px
                
@media (max-width:992px)
    nav
        height: 66px
        .button-collapse
            float: right
        i.material-icons
            padding-right: 20px
        ul
            a
                width: 100%
                &:hover
                    color: black !important
    
        