/*::::::::::::::::INICIO BARRA NAVEGACION::::::::::::::::*/

nav
    background-color: white
    height: 120px
    .brand-logo
        position: inherit
        display: inline !important
        img
            margin-top: 12px
    i.material-icons
        color: $gristexto 
    .brand-logo
        margin-top: 12px
    ul
        height: 120px
        a
            color: $gristexto !important
            font-family: 'montserratregular'
            font-size: 14px
            height: 120px
            text-align: center
            padding-top: 40px
            border-bottom: 10px solid $gristexto
            width: 130px
            line-height: 19px
            &:hover
                color: white !important
                background-color: rgba(70, 91, 167, 0.6)
                border-bottom: 10px solid $azul
        a.verdeoscuro
            border-bottom: 10px solid $verdeoscuro
            &:hover
                border-bottom: 10px solid $azul
        a.verdeclaro
            border-bottom: 10px solid $verdeclaro
            &:hover
                border-bottom: 10px solid $azul
        a.carne
            border-bottom: 10px solid $carne
            &:hover
                border-bottom: 10px solid $azul
        a.carne2
            border-bottom: 10px solid $carne2
            &:hover
                border-bottom: 10px solid $azul
        a.naranja
            border-bottom: 10px solid $naranja
            &:hover
                border-bottom: 10px solid $azul
        a.rojo
            color: $rojo !important
            border-bottom: 10px solid $rojo
            padding-top: 26px
            &:hover
                border-bottom: 10px solid $azul
            
.redesnav
    ul
        li
            margin-top: -14px
            a
                font-size: 24px !important
                color: $rosa !important
                border: none !important
                width: 25px !important
                min-width: 25px !important
                &:hover
                    background-color: transparent
                    color: $gristexto !important
                
.idiomanav
    ul
        li
            float: right !important
            a
                font-size: 12px !important
                border: none !important
                padding: 0px
                min-width: auto !important
                &:hover
                    background-color: transparent
                    text-decoration: underline
            a.idiomafuera
                font-family: 'montserratbold' !important
                width: inherit !important
                color: $rosa !important
            a.idiomadentro
                font-family: 'montserratlight' !important
                width: inherit !important
                color: $gristexto !important
        
.slider
    .indicators
        display: none
    
    
.gallery
    background: #EEE


.gallery-cell
    width: 100%
    height: 200px
    margin-right: 10px
    background: #8C8
    counter-increment: gallery-cell


/* cell number */
.gallery-cell:before
    display: block
    text-align: center
    content: counter(gallery-cell)
    line-height: 200px
    font-size: 80px
    color: white



/* big buttons, no circle */
.flickity-prev-next-button
    width: 100px
    height: 100px
    background: transparent

/* arrow color */
.flickity-prev-next-button .arrow
    fill: white

.flickity-prev-next-button.no-svg
    color: white

.flickity-prev-next-button:hover
    background: transparent

/* hide disabled button */
.flickity-prev-next-button:disabled
    display: block


/* position dots in gallery */
.flickity-page-dots
    bottom: 0px

/* white circles */
.flickity-page-dots .dot
    width: 12px
    height: 12px
    opacity: 1
    background: transparent
    border: 2px solid white

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected
    background: white


        