/*:::::::::::::INICIO REGISTRO:::::::::::::*/

.registro
    background-color: #F2F2F2
    width: 100%
    margin-top: 57px
    display: none
    margin-bottom: -60px
    h1
        font-size: 16px
        font-family: 'montserratbold'
        color: $gristexto
        text-transform: uppercase
        margin-bottom: 20px
    .input-field-5    
        border-radius: 30px
        height: 41px
        background-color: rgba(0, 167, 155, 0.3)
        position: relative
        margin-top: -12px
        width: 90% !important
        input
            border-bottom: none !important
            padding-left: 52%
            width: 50% !important
            padding-rigth: 0%
        .label-epo
            color: white
            height: 41px
            background-color: rgba(0, 167, 155, 0.5)
            top: 0
            left: 0
            width: 50% !important
            padding: 12px
            position: absolute
            text-transform: uppercase
            font-size: 13px
    ul
        float: left
        margin-top: -20px
        li
            float: left
            padding: 5px
            font-size: 20px
            color: $gristexto
            padding-left: 12px
    p
        font-size: 14px
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        
/*::::::::::MEDIA QUERY REGISTRO::::::::::*/

@media (max-width:992px) and (min-width:570px)
    .registro
        .input-field-5
            input
                width: 56% !important
                padding-left: 23%
            .label-epo
                width: 22% !important
                
@media (max-width:569px)
    .registro
        .input-field-5
            input
                width: 56% !important
                padding-left: 41%
            .label-epo
                width: 40% !important