/*::::::::::::::INICIO VOLUNTARIADO::::::::::::::*/

.voluntariado
    h1
        font-size: 36px
        text-transform: uppercase
        font-family: 'montserratregular'
        color: $gristexto
        span
            float: right
            font-family: 'montserratbold'
            color: $rojo
            font-size: 16px
            border-bottom: 2px solid $rojo
            line-height: 20px
            text-transform: uppercase
            margin-top: 10px
    p
        font-size: 17.82px
        color: $gristexto
        font-family: 'proxima_nova_altlight'
        clear: both
    .fndgris
        background-color: $fondoblanco
        padding-top: 20px
        padding-bottom: 20px
    .masymenos
        border: 1px solid $gristexto
        width: 38px
        height: 38px
        border-radius: 20px
        color: $gristexto
        cursor: pointer
        
/*::::::::::::::::::INICIO MEDIA QUERY VOLUNTARIADO::::::::::::::::::*/

@media (max-width:600px)
    .voluntariado
        h1
            font-size: 25px
            span
                float: none
                font-size: 13px
                margin-bottom: 10px
        .masymenos
            margin: 0 auto
        p
            font-size: 14.82px
    