/*::::::::INCIO VARIABLES COLORES::::::::*/
/*:::::::::::::::::::::INICIO FONT FACE:::::::::::::::::::::*/
@font-face {
  font-family: 'montserratregular';
  src: url("../font/montserrat-regular-webfont.eot");
  src: url("../font/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-regular-webfont.woff2") format("woff2"), url("../font/montserrat-regular-webfont.woff") format("woff"), url("../font/montserrat-regular-webfont.ttf") format("truetype"), url("../font/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../font/montserrat-bold-webfont.eot");
  src: url("../font/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-bold-webfont.woff2") format("woff2"), url("../font/montserrat-bold-webfont.woff") format("woff"), url("../font/montserrat-bold-webfont.ttf") format("truetype"), url("../font/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../font/montserrat-light-webfont.eot");
  src: url("../font/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-light-webfont.woff2") format("woff2"), url("../font/montserrat-light-webfont.woff") format("woff"), url("../font/montserrat-light-webfont.ttf") format("truetype"), url("../font/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*::::::::::::::::INICIO BARRA NAVEGACION::::::::::::::::*/
/* line 3, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
nav {
  background-color: white;
  height: 120px; }
  /* line 6, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  nav .brand-logo {
    position: inherit;
    display: inline !important; }
    /* line 9, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav .brand-logo img {
      margin-top: 12px; }
  /* line 11, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  nav i.material-icons {
    color: #808080; }
  /* line 13, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  nav .brand-logo {
    margin-top: 12px; }
  /* line 15, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  nav ul {
    height: 120px; }
    /* line 17, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a {
      color: #808080 !important;
      font-family: 'montserratregular';
      font-size: 14px;
      height: 120px;
      text-align: center;
      padding-top: 40px;
      border-bottom: 10px solid #808080;
      width: 130px;
      line-height: 19px; }
      /* line 27, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a:hover {
        color: white !important;
        background-color: rgba(70, 91, 167, 0.6);
        border-bottom: 10px solid #465BA7; }
    /* line 31, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.verdeoscuro {
      border-bottom: 10px solid #305D09; }
      /* line 33, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.verdeoscuro:hover {
        border-bottom: 10px solid #465BA7; }
    /* line 35, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.verdeclaro {
      border-bottom: 10px solid #809A1F; }
      /* line 37, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.verdeclaro:hover {
        border-bottom: 10px solid #465BA7; }
    /* line 39, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.carne {
      border-bottom: 10px solid #FBBA5E; }
      /* line 41, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.carne:hover {
        border-bottom: 10px solid #465BA7; }
    /* line 43, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.carne2 {
      border-bottom: 10px solid #EA8B46; }
      /* line 45, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.carne2:hover {
        border-bottom: 10px solid #465BA7; }
    /* line 47, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.naranja {
      border-bottom: 10px solid #DC5F34; }
      /* line 49, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.naranja:hover {
        border-bottom: 10px solid #465BA7; }
    /* line 51, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    nav ul a.rojo {
      color: #D02029 !important;
      border-bottom: 10px solid #D02029;
      padding-top: 26px; }
      /* line 55, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
      nav ul a.rojo:hover {
        border-bottom: 10px solid #465BA7; }

/* line 60, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.redesnav ul li {
  margin-top: -14px; }
  /* line 62, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  .redesnav ul li a {
    font-size: 24px !important;
    color: #DA604C !important;
    border: none !important;
    width: 25px !important;
    min-width: 25px !important; }
    /* line 68, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    .redesnav ul li a:hover {
      background-color: transparent;
      color: #808080 !important; }

/* line 74, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.idiomanav ul li {
  float: right !important; }
  /* line 76, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  .idiomanav ul li a {
    font-size: 12px !important;
    border: none !important;
    padding: 0px;
    min-width: auto !important; }
    /* line 81, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
    .idiomanav ul li a:hover {
      background-color: transparent;
      text-decoration: underline; }
  /* line 84, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  .idiomanav ul li a.idiomafuera {
    font-family: 'montserratbold' !important;
    width: inherit !important;
    color: #DA604C !important; }
  /* line 88, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
  .idiomanav ul li a.idiomadentro {
    font-family: 'montserratlight' !important;
    width: inherit !important;
    color: #808080 !important; }

/* line 94, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.slider .indicators {
  display: none; }

/* line 98, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.gallery {
  background: #EEE; }

/* line 102, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell; }

/* cell number */
/* line 111, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

/* big buttons, no circle */
/* line 122, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; }

/* arrow color */
/* line 128, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-prev-next-button .arrow {
  fill: white; }

/* line 131, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-prev-next-button.no-svg {
  color: white; }

/* line 134, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-prev-next-button:hover {
  background: transparent; }

/* hide disabled button */
/* line 138, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-prev-next-button:disabled {
  display: block; }

/* position dots in gallery */
/* line 143, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-page-dots {
  bottom: 0px; }

/* white circles */
/* line 147, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white; }

/* fill-in selected dot */
/* line 155, C:/Users/Michael Munoz/OneDrive/Comware/Proyectos/Eposak/Eposak Maqueta/sass/_nav.sass */
.flickity-page-dots .dot.is-selected {
  background: white; }

/*# sourceMappingURL=main.css.map */