/*::::::::::INICIO COMUNIDAD::::::::::*/

.comunidad
    margin-top: 0px
    margin-bottom: -20px
    h1
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 18px
    h6
        font-family: 'montserratregular'
        color: $rosa
        font-size: 16px
    h2
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 33px
        text-align: left
        padding: 20px
        text-transform: uppercase
    .ver-todo
        background-color: $fondoblanco
        height: 480px
        .s12
            height: 100%
        .valign-wrapper
            height: 50%
        .kamaratafondo
            background-image: url(../img/comunidad1.jpg)
            background-position: center center
            background-size: cover
            height: 100%
            position: relative
            img
                position: absolute
                bottom: 0%
        .birongofondo
            background-image: url(../img/comunidad2.jpg)
            background-position: center center
            background-size: cover
            height: 100%
            position: relative
            img
                position: absolute
                bottom: 0%
        h3
            color: white
            font-size: 30px
            font-family: 'montserratregular'
            position: absolute
            bottom: 0%
            left: 2%
        .rosac
            width: 112px
            height: 112px
            background-color: $rosa
            position: absolute
            bottom: 0%
            right: 0%
            p
                color: white
                text-align: center
                font-family: 'montserratbold'
                font-size: 13px
                border-bottom: 3px solid white
                width: 80%
                margin: 0 auto
                margin-top: 40px
    .feposak
        background-image: url(../img/comunidad3.jpg)
        background-position: center center
        background-size: cover
        padding: 50px
        clear: both
        p
            color: white
            border-bottom: 2px dashed white
            font-family: 'montserratregular'
            font-size: 22px
            text-transform: uppercase
            width: 80%
            text-align: right
    .feposak-2
        background-image: url(../img/comunidad4.jpg)
        background-position: center center
        background-size: cover
        padding: 50px
        margin-top: 160px
        clear: both
        p
            color: white
            border-bottom: 2px dashed white
            font-family: 'montserratregular'
            font-size: 22px
            text-transform: uppercase
            width: 80%
            text-align: right
    .feposak-contac
        background-image: url(../img/contacf.jpg)
        background-position: center center
        background-size: cover
        padding: 50px
        margin-top: 160px
        clear: both
        p
            color: white
            border-bottom: 2px dashed white
            font-family: 'montserratregular'
            font-size: 22px
            text-transform: uppercase
            width: 80%
            text-align: right
    .lineacomu
        background-color: $grisfooter
        height: 1px
        width: 100%
        
/*:::::::::::MEDIA QUERY COMUNIDAD:::::::::::*/

@media (max-width:600px)
    .comunidad
        p
            font-size: 14px
        .feposak
            p
                font-size: 15px