/*::::::::::::::::INICO CONTACTO::::::::::::::::*/
.contacto
    margin-top: 56px
    .contacto-banner
        background-image: url(../img/contacto.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 70px
            text-align: center
            text-transform: uppercase
            margin-top: 280px
            
.ttl-contac
    margin-top: 20px
    width: 100%
    background-color: $naranja-2
    height: 50px
    padding-left: 20px
    h1
        color: white !important 
        font-size: 20px !important
        text-transform: uppercase !important
        font-family: 'montserratbold' !important
        padding-bottom: 7px !important
        
.label-epo-2
    color: white
    border-radius: 30px 0px 0px 30px
    height: 41px
    background-color: #FCBB5E
    top: 0
    left: 0
    width: 25% !important
    padding: 12px
    position: absolute
    text-transform: uppercase
    font-size: 13px

.textarea-label-2
    width: 100%
    background-color: #FCBB5E
    color: white
    height: 41px
    top: 0
    left: 0
    padding: 8px
    position: absolute
    text-transform: uppercase
    font-size: 19.22px
    font-family: "montserratregular"
    border-radius: 15px 15px 0px 0px
    
.textarea-2
    margin-top: 40px !important
    background-color: rgba(252,187,94,0.3) !important
    border-bottom: none !important
    margin-left: 0px !important
    width: 100% !important
    padding: 11px !important
    min-height: 198.744px !important
    box-sizing: inherit !important
    border-radius: 0px 0px 15px 15px !important

.conta-map
    margin-top: 40px
    h1
        font-size: 14px
        font-family: 'montserratbold'
        color: $grisoscuro
        text-transform: uppercase
    p
        font-family: 'proxima_nova_altlight'
        font-size: 20px
        color: $gristexto

/*:::::::::MEDIA QUERY CONTACTO:::::::::*/
@media (max-width:600px)
    .contacto
        .contacto-banner
            height: 200px
            h1
                font-size: 40px
                margin-top: 125px
    .conta-map
        p
            font-size: 16px
            
@media (max-width:992px)
    .contacto
        margin-top: 0px