/*:::::::::::::::::::::INICIO FONT FACE:::::::::::::::::::::*/

@font-face
    font-family: 'montserratregular'
    src: url('../font/montserrat-regular-webfont.eot')
    src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff'), url('../font/montserrat-regular-webfont.ttf') format('truetype'), url('../font/montserrat-regular-webfont.svg#montserratregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'montserratbold'
    src: url('../font/montserrat-bold-webfont.eot')
    src: url('../font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff'), url('../font/montserrat-bold-webfont.ttf') format('truetype'), url('../font/montserrat-bold-webfont.svg#montserratbold') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'montserratlight'
    src: url('../font/montserrat-light-webfont.eot')
    src: url('../font/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff'), url('../font/montserrat-light-webfont.ttf') format('truetype'), url('../font/montserrat-light-webfont.svg#montserratlight') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'proxima_nova_altlight'
    src: url('../font/proxima_nova_alt_light-webfont.eot')
    src: url('../font/proxima_nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_alt_light-webfont.woff2') format('woff2'),    url('../font/proxima_nova_alt_light-webfont.woff') format('woff'), url('../font/proxima_nova_alt_light-webfont.ttf') format('truetype'), url('../font/proxima_nova_alt_light-webfont.svg#proxima_nova_altlight') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'proxima_nova_rgbold'
    src: url('../font/proxima_nova_bold-webfont.eot')
    src: url('../font/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_bold-webfont.woff2') format('woff2'), url('../font/proxima_nova_bold-webfont.woff') format('woff'), url('../font/proxima_nova_bold-webfont.ttf') format('truetype'), url('../font/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg')
    font-weight: normal
    font-style: normal