/*::::::::::::::::INCIO FORMULARIO VIAJE::::::::::::::::*/

.formviaje
    margin-top: 56px
    .formcontacto
        background-color: $fondoblanco
        margin-top: -26px
        margin-bottom: -28px
        h1
            font-family: 'montserratregular'
            font-size: 32.97px
            color: $gristexto
            text-transform: uppercase
        p
            font-family: 'montserratbold'
            font-size: 19.23px
            color: $gristexto
            text-transform: uppercase
        h4
            color: $gristexto
            font-size: 20px
            font-family: 'proxima_nova_altlight'
        h2
            color: $gristexto
            font-size: 14px
            font-family: 'montserratbold'
            text-transform: uppercase
        li
            float: left
            padding: 10px
            i
                font-size: 50px
                color: $grisfooter
    .input-field-2
        border-radius: 30px
        height: 41px
        background-color: rgba(0, 167, 155,0.3)
        position: relative
        margin-top: -12px
        width: 95% !important
        input
            border-bottom: none !important
            padding-left: 25%
            width: 75% !important
        .active
            border-bottom: none
    .input-field-3
        min-height: 217px
        position: relative
        margin-top: -12px
        width: 95% !important
    .input-field-4
        border-radius: 30px
        height: 41px
        background-color: rgba(252,187,94,0.3)
        position: relative
        margin-top: -12px
        width: 95% !important
        margin-left: 11px !important
        input
            border-bottom: none !important
            padding-left: 25%
            width: 75% !important
        .active
            border-bottom: none
    .input-field-vi    
        border-radius: 30px
        height: 41px
        background-color: rgba(0, 167, 155, 0.3)
        position: relative
        margin-top: -12px
        width: 90% !important
        input
            border-bottom: none !important
            padding-left: 20%
            width: 50% !important
        .label-epo
            color: white
            height: 41px
            background-color: rgba(0, 167, 155, 0.5)
            top: 0
            left: 0
            width: 20% !important
            padding: 12px
            position: absolute
            text-transform: uppercase
            font-size: 13px
        
.btnenviar
    border-radius: 25px
    margin-left: -10px
    background-color: $rosa
    font-family: 'montserratbold'
    font-size: 12.49px
    margin-bottom: 20px
    margin-top: 10px
    &:hover
        background-color: $rosahover
    i
        font-size: 13px
        
.btnenviar-2
    border-radius: 25px
    margin-left: -10px
    background-color: $rosa
    font-family: 'montserratbold'
    font-size: 12.49px
    margin-bottom: 20px
    margin-top: -100px
    &:hover
        background-color: $rosahover
    i
        font-size: 13px
        
.label-epo
    color: white
    border-radius: 30px 0px 0px 30px
    height: 41px
    background-color: rgba(0, 167, 155,0.5)
    top: 0
    left: 0
    width: 25% !important
    padding: 12px
    position: absolute
    text-transform: uppercase
    font-size: 13px
        
.textarea-label
    width: 100%
    background-color: rgba( 51, 130, 166,0.7)
    color: white
    height: 41px
    top: 0
    left: 0
    padding: 8px
    position: absolute
    text-transform: uppercase
    font-size: 19.22px
    font-family: 'montserratregular'

.textarea-1
    margin-top: 40px !important
    background-color: rgba( 51, 130, 166,0.3) !important
    border-bottom: none !important
    margin-left: 0px !important
    width: 100% !important
    padding: 11px !important
    min-height: 90px !important
    box-sizing: inherit !important

.aporte-epo
    background-color: rgba( 51, 130, 166,0.3)
    height: 130px
    width: 95%
    margin-top: -12px
    h1
        color: white !important
        font-family: 'montserratregular' !important
        font-size: 19.22px !important
        margin: 10px 0px 0px 0px !important
    label
        color: white !important
        font-family: 'proxima_nova_altlight' !important
        font-size: 13.73px !important
    
.input-monto
    border-bottom: none !important
    width: 80% !important
    background-color: rgba( 255, 255, 255,0.3) !important
    height: 20px !important
    border-radius: 10px !important
    padding-left: 15px !important
    
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after
    border: 2px solid white !important

    
/*:::::::::::MEDIA QUERY FROM VIAJE:::::::::::*/

@media (max-width:1450px)
    .formviaje
        .input-field-vi
            input
                padding-left: 38%
            .label-epo
                width: 37% !important

@media (max-width:1200px)
    .formviaje
        .input-field-2
            input
                width: 58% !important
                padding-left: 42%
    .label-epo
        width: 40% !important
        
@media (max-width:600px)
    .formviaje
        .formcontacto
            h4
                font-size: 16px
    
@media (max-width:992px)
    .btnenviar-2
        margin-top: 0px
    .formviaje
        margin-top: 0px
            
    