/*:::::::::::INICIO FUNDACION EPOSAK:::::::::::*/
.fundacionepo
    margin-top: 56px
    .funda-inter
        background-image: url(../img/fundacion.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 70px
            text-align: center
            text-transform: uppercase
            margin-top: 280px
    ul
        padding-left: 10px
        border-left: 1px solid $gristexto
    li
        color: $gristexto
        font-family: 'montserratregular'
        font-size: 16px
        position: relative
        padding-left: 5px
        a
            text-decoration: none !important
            color: $gristexto
        h4
            text-decoration: none
            font-size: 5px
            position: absolute
            top: -26%
            left: -1%
    li:first-child
        text-decoration: underline !important
    h1
        font-family: 'montserratregular'
        font-size: 36px
        color: $gristexto
        text-transform: uppercase
        a
            font-family: 'montserratbold'
            color: $rosa
            font-size: 16px
            float: right
            text-decoration: none
            border-bottom: 4px solid $rosa
            line-height: 17px
            padding-top: 20px
    p
        font-family: 'proxima_nova_altlight'
        font-size: 14px
        color: $gristexto
        text-align: left
        padding: 30px        
    h2
        font-family: 'montserratregular'
        color: black
        font-size: 22px
        text-transform: uppercase
        a
            text-decoration: none
            color: black
    h6
        font-family: 'montserratregular'
        font-size: 14px
        color: $gristexto
    h3
        font-family: 'montserratbold'
        font-size: 18px
        color: black
        
/*:::::::::::CAMBIO DE IMAGEN FONDO APORTE EPOSAK:::::::::::*/
.comunidad
    .aportepo
        background-color: $carne
        width: 100%
        height: 135px
        margin-bottom: 0px
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 32px
    .ver-todo
        .kamaratafondo-2
            background-image: url(../img/aporte1.jpg)
            background-position: center center
            background-size: cover
            height: 100%
            position: relative
        .birongofondo-2
            background-image: url(../img/aporte2.jpg)
            background-position: center center
            background-size: cover
            height: 100%
            position: relative
        h3
            /*text-shadow: 2px 2px rgba( 0, 0, 0,0.8)*/
    
/*:::::::::::::::MEDIA QUERY FUNDACIÖN EPOSAK:::::::::::::::*/

@media (max-width:600px)
    .fundacionepo 
        .funda-inter
            height: 200px
            h1
                font-size: 40px
                margin-top: 90px

@media (max-width:1098px) and (min-width:601px)
    .fundacionepo 
        .funda-inter
            h1
                font-size: 44px
            
@media (max-width:1098px) and (min-width:993px)
    .fundacionepo 
        .funda-inter
            h1
                font-size: 44px
                
@media (max-width:992px)
    .fundacionepo
        margin-top: 0px
    
    