/*:::::::::::::::INICIO VIAJE INDIVIDUAL:::::::::::::::*/

.individual
    margin-top: 56px
    .principalimg
        background-image: url(../img/indi.jpg)
        background-position: center center
        background-size: cover
        height: 396px
        position: relative
        h6
            margin-top: 20px
            color: white
            font-size: 14px
            font-family: 'montserratregular'
        h1
            font-family: 'montserratregular'
            color: white
            font-size: 26px
            text-align: center
            text-transform: uppercase
            margin-top: 195px
            text-shadow: 2px 2px 4px #000000 
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 14px
    h2
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-transform: uppercase
        span
            font-size: 24px
            float: right
            a
                color: $rosa
                font-size: 18px
    .titulogaleria
        background-color: $azul
        width: 100%
        margin: 0 auto
    h1
        color: white
        font-family: 'montserratregular'
        font-size: 20px
        text-align: center
        text-transform: uppercase
        padding: 13px
    .titulodias
        background-color: $azulclaro
        width: 100%
        margin: 0 auto
    .titulointine
        background-color: $azul-2
        width: 100%
        margin: 0 auto
    .itinerario
        background-color: rgba(125, 185, 217, 0.1)
        width: 100%
        min-height: 358.578px
        margin-top: -32px
        padding: 10px
        h1
            font-family: 'proxima_nova_altlight'
            font-size: 16px
            color: $gristexto
            text-transform: uppercase
        ul
            list-style: none
            li
                font-family: 'proxima_nova_altlight'
                font-size: 14px
                color: $azul-2
                span
                    color: $gristexto
    h3
        font-family: 'proxima_nova_altlight'
        color: $azulclaro
        font-size: 13.33px
        strong
            font-family: 'proxima_nova_rgbold'
        span
            float: right
    .btn
        border-radius: 25px
        float: right
        margin-top: 13px
    .expand
        background-color: #465BA7
        width: 30px
        height: 30px
        position: absolute
        z-index: 1
        right: 14%
        top: 5%
        border-radius: 25px
        i
            color: white
            font-size: 15px
            top: 31%
            position: absolute
            right: 32%
    .framev
        margin-top: 15px
        height: 345px
    li
        float: left
        padding-left: 0px
        padding-right: 10px
        
.fondo-descrip
    width: 100%
    background-color: $fondoblanco
    min-height: 225.715px
    margin-top: 30px
    border: 2px solid white
    h1
        color: $grisoscuro
        font-size: 14.73px
        font-family: 'proxima_nova_altlight'
        text-align: left
        margin-top: 5px !important
    li
        font-size: 15px
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        list-style: disc
        margin-left: 24px
        
/*::::::::::INICIO MEDIA QUERY VIAJE INDIVIDUAL::::::::::*/
@media (max-width:762px)
    .individual
        .framev
            height: 250px

@media (max-width:880px)
    .individual
        .principalimg
            h1
                margin-top: 70px
                font-size: 26px
                
@media (max-width:992px)
    .individual
        margin-top: 0px