/*:::::::::::::::INICIO NOTICIA ABIERTA:::::::::::::::*/

.noticiabierta
    margin-top: 56px
    .row
        margin-bottom: 0px !important
    h6
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 14px
        margin-top: 20px
    .fondogrisnoticia
        background-color: $fondoblanco
        height: 156px
    .fondogrisnoticia-2
        background-color: $fondoblanco
        padding-left: 40px
        padding-right: 40px
        min-height: 797px
    h1
        font-family: 'montserratbold'
        font-size: 21px
        color: black
    p
        font-family: 'montserratlight'
        color: $gristexto
        font-size: 14px
    
/*:::::::::::::MEDIA QUERY NOTICI ABIERTA:::::::::::::*/

@media (max-width:600px)
    .noticiabierta
        h6
            margin-top: 40px
            margin-bottom: 40px
            
@media (max-width:992px)
    .noticiabierta
        margin-top: 0px