/*::::::::::INICIO PORYECTOS::::::::::*/
.ttlemprendedor
    width: 80%
    height: 53.261px
    background-color: rgba(251, 186, 94,0.6)
    padding-left: 42px
    margin-top: 20px
    h1
        color: white
        font-family: 'montserratbold'
        font-size: 20px