/*::::::::::::::::INICIO TESTIMONIO::::::::::::::::*/

.testimonio
    background-color: $fondoblanco
    padding-top: 20px
    padding-bottom: 20px
    h1
        font-family: 'montserratregular'
        color: $gristexto
        font-size: 36px
        text-align: center
    p
        font-family: 'proxima_nova_altlight'
        color: $gristexto
        font-size: 18px
        span
            color: black
            font-family: 'montserratbold'
            font-size: 17px

@media (max-width:600px)
    .testimonio
        p
            font-size: 14px
            padding-left: 15px
            padding-right: 15px
            span
                font-size: 12px