@charset "UTF-8";
/*:::::::::::::::::::::INICIO FONT FACE::::::::::::::::::::: */
@font-face {
  font-family: "montserratregular";
  src: url("../font/montserrat-regular-webfont.eot");
  src: url("../font/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-regular-webfont.woff2") format("woff2"), url("../font/montserrat-regular-webfont.woff") format("woff"), url("../font/montserrat-regular-webfont.ttf") format("truetype"), url("../font/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratbold";
  src: url("../font/montserrat-bold-webfont.eot");
  src: url("../font/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-bold-webfont.woff2") format("woff2"), url("../font/montserrat-bold-webfont.woff") format("woff"), url("../font/montserrat-bold-webfont.ttf") format("truetype"), url("../font/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratlight";
  src: url("../font/montserrat-light-webfont.eot");
  src: url("../font/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-light-webfont.woff2") format("woff2"), url("../font/montserrat-light-webfont.woff") format("woff"), url("../font/montserrat-light-webfont.ttf") format("truetype"), url("../font/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "proxima_nova_altlight";
  src: url("../font/proxima_nova_alt_light-webfont.eot");
  src: url("../font/proxima_nova_alt_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_alt_light-webfont.woff2") format("woff2"), url("../font/proxima_nova_alt_light-webfont.woff") format("woff"), url("../font/proxima_nova_alt_light-webfont.ttf") format("truetype"), url("../font/proxima_nova_alt_light-webfont.svg#proxima_nova_altlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("../font/proxima_nova_bold-webfont.eot");
  src: url("../font/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima_nova_bold-webfont.woff2") format("woff2"), url("../font/proxima_nova_bold-webfont.woff") format("woff"), url("../font/proxima_nova_bold-webfont.ttf") format("truetype"), url("../font/proxima_nova_bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*::::::::::::::::INICIO BARRA NAVEGACION:::::::::::::::: */
nav {
  background-color: white;
  height: 120px; }

  nav .brand-logo {
    position: inherit;
    display: inline !important; }
    nav .brand-logo img {
      margin-top: 12px; }
  nav i.material-icons {
    color: #808080;
    padding-left: 20px; }
  nav .brand-logo {
    margin-top: 12px; }
  nav ul {
    height: 120px; }
    nav ul a {
      color: #808080 !important;
      font-family: "montserratregular";
      font-size: 14px;
      height: 120px;
      text-align: center;
      padding-top: 40px;
      border-bottom: 10px solid #808080;
      width: 125px;
      line-height: 19px; }
      nav ul a:hover {
        color: white !important;
        background-color: rgba(70, 91, 167, 0.6);
        border-bottom: 10px solid #465BA7; }
    nav ul a.verdeoscuro {
      border-bottom: 10px solid #465BA7; }
      nav ul a.verdeoscuro:hover {
        background-color: rgba(70, 91, 167, 0.6) !important; }
    nav ul a.verdeclaro {
      border-bottom: 10px solid #809A1F; }
      nav ul a.verdeclaro:hover {
        background-color: rgba(128, 154, 31, 0.6) !important; }
    nav ul a.carne {
      border-bottom: 10px solid #FBBA5E; }
      nav ul a.carne:hover {
        background-color: rgba(251, 186, 94, 0.6) !important; }
    nav ul a.carne2 {
      border-bottom: 10px solid #EA8B46; }
      nav ul a.carne2:hover {
        background-color: rgba(234, 139, 70, 0.6) !important; }
    nav ul a.naranja {
      border-bottom: 10px solid #DC5F34; }
      nav ul a.naranja:hover {
        background-color: rgba(220, 95, 52, 0.6) !important; }
    nav ul a.rojo {
      color: #D02029 !important;
      border-bottom: 10px solid #D02029;
      padding-top: 26px; }
      nav ul a.rojo:hover {
        background-color: rgba(208, 32, 41, 0.6) !important; }

    nav .flash_message-container {
      z-index = 2;
     background-color:#000; 
      color:  #fff;
      position: fixed;
      top:  100px;
      left:  10px;

    }

.redesnav ul li a {
  font-size: 24px !important;
  color: #DA604C !important;
  border: none !important;
  width: 25px !important;
  min-width: 25px !important; }
  .redesnav ul li a:hover {
    background-color: transparent;
    color: #808080 !important; }

.idiomanav {
  position: absolute;
  right: 1%;
  top: -15%; }
  .idiomanav ul li {
    float: right !important; }
    .idiomanav ul li a {
      font-size: 12px !important;
      border: none !important;
      padding: 0px;
      min-width: auto !important; }
      .idiomanav ul li a:hover {
        background-color: transparent;
        text-decoration: underline; }
    .idiomanav ul li a.idiomafuera {
      font-family: "montserratbold" !important;
      width: inherit !important;
      color: #DA604C !important; }
    .idiomanav ul li a.idiomadentro {
      font-family: "montserratlight" !important;
      width: inherit !important;
      color: #808080 !important; }

/*::::::::::MEDIA QUERY BARRA DE NAVEGACION:::::::::: */
@media (min-width: 993px) and (max-width: 1193px) {
  nav ul a {
    width: 107px; } }
@media (max-width: 600px) {
  nav .brand-logo img {
    margin-top: -45px; } }
@media (max-width: 992px) {
  nav {
    height: 66px; }
    nav .button-collapse {
      float: right; }
    nav i.material-icons {
      padding-right: 20px; }
    nav ul a {
      width: 100%; }
      nav ul a:hover {
        color: black !important; } }
/*::::::::::::::::INICIO GENERAL:::::::::::::::: */
.slider .indicators {
  display: none; }

.carousel {
  height: auto !important; }

.slidepo {
  position: relative;
  height: 88vh;
  margin-top: 56px; }
  .slidepo h3 {
    color: white;
    font-family: "montserratregular";
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black; }

.padding0 {
  padding: 0 !important; }

.padding80 {
  padding: 40px !important; }

.relative {
  position: relative; }

.margintop20 {
  margin-top: 20px; }

footer {
  height: 46px;
  background-color: #B2B1B2;
  padding: 1px; }
  footer p {
    font-family: "proxima_nova_altlight";
    color: white;
    font-size: 16px;
    text-align: center; }
  footer a {
    color: white; }

.btn-subir {
  height: 84px;
  width: 100%;
  background-color: #E2E2E2;
  text-align: center; }
  .btn-subir h1 {
    color: #B2B1B2;
    font-size: 30px;
    margin-top: 15px; }
  .btn-subir p {
    font-family: "montserratregular";
    font-size: 16px;
    color: #B2B1B2;
    margin-top: -24px; }

.container-fluid {
  margin: 0 auto;
  width: 100%; }

.dropdown-content {
  width: 250px !important;
  /* top: 1005.188px !important */
  background-color: #FBBA5E;
  position: inherit;
  z-index: 99; }
  .dropdown-content li {
    font-family: "montserratlight" !important;
    text-transform: uppercase !important;
    font-size: 18px !important; }
    .dropdown-content li:hover {
      background-color: rgba(255, 255, 255, 0.3) !important; }
    .dropdown-content li a {
      color: white !important; }

.drop-rojo {
  background-color: #DA604C !important; }

.margin-topc {
  margin-top: 56px !important; }

.modal-index {
  background-color: transparent !important;
  max-height: 100% !important;
  box-shadow: none !important; }

.ver-video {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "montserratregular";
  margin-top: 120px;
  text-shadow: 2px 2px 4px black; }

.down-dos {
  position: absolute;
  bottom: 8%;
  right: 49%;
  z-index: 2;
  color: white !important;
  font-size: 30px !important;
  text-align: center; }
  .down-dos:hover {
    color: white !important; }
  .down-dos:active {
    color: white !important; }
  .down-dos h3 {
    font-size: 20px !important; }

/*.modal-p
 * min-height: 500px */
/*::::::::::::INICIO BUSCADOR::::::::::: */
.buscar {
  background-color: #F1F1F1;
  width: 100%;
  height: 84.724px;
  margin-top: 58px;
  padding-top: 18px;
  display: none;
  margin-bottom: -56px; }
  .buscar .col-1 {
    width: 95%;
    float: left;
    height: 47.667px; }
    .buscar .col-1 input {
      background-color: white;
      border-bottom: none !important;
      padding-left: 20px;
      height: 47.667px; }
  .buscar .col-2 {
    width: 5%;
    float: left;
    background-color: #DA604C;
    height: 47.667px; }
    .buscar .col-2 i {
      font-size: 20px;
      color: white; }

.resultado {
  background-color: #F1F1F1;
  height: 74vh;
  margin-top: 58px;
  margin-bottom: -56px;
  padding-bottom: 20px; }
  .resultado h1 {
    font-size: 16px;
    font-family: "montserratbold";
    color: #333333; }
    .resultado h1 span {
      color: #5878B5;
      font-size: 17px; }
  .resultado p {
    font-family: "montserratlight";
    color: #808080;
    font-size: 14px; }
    .resultado p span {
      color: #5878B5;
      font-size: 16px; }
  .resultado .pagination {
    margin-top: -10px; }

/*::::::::::MEDIA QUERY BUSCAR:::::::::: */
@media (max-width: 600px) {
  .buscar .col-1 {
    width: 80%; }
  .buscar .col-2 {
    width: 20%; } }
/*::::::PARA CENTRAR VERTICALMENTE:::::: */
.pvertical {
  display: table; }

.hvertical {
  display: table-cell;
  vertical-align: middle; }

/*:::::ES PARA MODIFICAR LA LIENA DEBAJO DE LOS INPUT DE MATERIALIZE::::: */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
  width: 75% !important; }

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid {
  border-bottom: none;
  box-shadow: none;
  width: 75% !important; }

/*::::::::MEDIA QUERY FOOTER:::::::: */
@media (max-width: 680px) {
  footer p {
    font-size: 12px; } }
@media (max-width: 500px) {
  footer p {
    margin-top: 6px; } }
@media (max-width: 992px) {
  .slidepo {
    height: 92vh;
    margin-top: 4px; }

  .margin-topc {
    margin-top: 0px !important 4; } }
/* ------------- Flexcroll CSS ------------ */
#scroll {
  width: 100%;
  height: 200px;
  overflow: auto; }

#scroll ul {
  float: left;
  margin-right: -999em;
  white-space: nowrap;
  list-style: none; }

#scroll li {
  margin: 0px;
  text-align: center;
  float: left;
  display: inline; }

#scroll img {
  border: 0;
  display: block;
  border: 1px solid #A3CBE0; }

#scroll:active img {
  border: 1px solid #000; }

#scroll:focus img {
  border: 1px solid #000; }

#scroll:hover img {
  border: 1px solid #000; }

#scroll {
  text-decoration: none;
  font-weight: bold;
  color: #000; }

#scroll {
  color: #FFF; }

#scroll {
  color: #FFF; }

#scroll {
  color: #FFF; }

#scroll {
  padding: 5px 0 0;
  display: block; }

.scrollgeneric {
  line-height: 1px;
  font-size: 1px;
  position: absolute;
  /*top: 0left:0 */ }

.hscrollerbase {
  height: 17px; }

.hscrollerbar {
  height: 12px;
  background: #DA604C;
  cursor: e-resize;
  padding: 3px;
  border-radius: 7px; }

.hscrollerbar {
  background: #DA604C;
  border-radius: 7px; }

/*:::::::::::::::::INICIO HOME::::::::::::::::: */
.home {
  padding-bottom: 78px;
  padding-top: 78px; }
  .home h1 {
    font-family: "montserratregular";
    font-size: 36px;
    color: #808080;
    text-transform: uppercase; }
    .home h1 a {
      font-family: "montserratbold";
      color: #DA604C;
      font-size: 16px;
      float: right;
      text-decoration: none;
      border-bottom: 4px solid #DA604C;
      line-height: 17px;
      padding-top: 20px; }
  .home p {
    font-family: "proxima_nova_altlight";
    font-size: 18px;
    color: #808080;
    text-align: left; }
  .home h2 {
    font-family: "montserratregular";
    color: black;
    font-size: 22px;
    text-transform: uppercase; }
  .home h6 {
    font-family: "montserratregular";
    font-size: 14px;
    color: #808080; }
  .home h3 {
    font-family: "montserratbold";
    font-size: 18px;
    color: black; }
  .home a {
    text-decoration: none;
    color: black; }
  .home .m6 {
    padding: 80px; }
  .home .img-dia-left {
    background-image: url(../img/pajarito.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding: 0px; }
  .home .img-dia-cerrado {
    background-image: url(../img/pajarito.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 0px; }
  .home .dia-left {
    height: 357.46px;
    padding: 20px;
    background-color: #F1F1F1; }
    .home .dia-left h2 {
      font-family: "montserratregular";
      font-size: 14px;
      color: #808080;
      margin: 0px !important; }
    .home .dia-left h1 {
      font-family: "montserratbold";
      font-size: 18px;
      color: #333333;
      margin: 15px 0px 0px 0px; }
      .home .dia-left h1 span {
        color: #DA604C;
        font-size: 16px;
        border-bottom: 2px solid #DA604C;
        float: right; }
    .home .dia-left p {
      font-family: "montserratregular";
      font-size: 14px;
      color: #808080; }
  .home .dia-cerrado {
    height: 157.46px;
    padding: 20px;
    background-color: #F1F1F1; }
    .home .dia-cerrado h1 {
      font-family: "montserratbold";
      font-size: 18px;
      color: #333333;
      margin: 0px !important; }

.grish {
  background-color: #F1F1F1; }

.eligedestino {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 50%; }
  .eligedestino .col-1 {
    border: 2px solid white;
    height: 60.472px;
    width: 20%;
    float: left; }
    .eligedestino .col-1 p {
      font-family: "montserratregular";
      color: white !important;
      font-size: 20px;
      text-align: center; }
  .eligedestino .col-2 {
    width: 70%;
    height: 60.472px;
    background-color: white;
    border: 2px solid white;
    float: left;
    padding-left: 20px; }
    .eligedestino .col-2 p {
      color: #B2B1B2 !important;
      font-size: 20px;
      font-family: "montserratregular";
      text-align: left; }
  .eligedestino .col-3 {
    width: 10%;
    height: 60.472px;
    border: 2px solid white;
    float: left; }
    .eligedestino .col-3 i {
      color: white;
      text-align: center;
      font-size: 34px; }
  .eligedestino .col2 {
    width: 70%;
    height: auto;
    background-color: white;
    border: none;
    float: left;
    padding-left: 20px; }
    .eligedestino .col2 p {
      color: #B2B1B2 !important;
      font-size: 20px;
      font-family: "montserratregular";
      text-align: left; }
  .eligedestino .fa-angle-down {
    cursor: pointer; }

.eligedestino2 {
  position: absolute;
  width: 100%;
  margin-top: 61px; }
  .eligedestino2 .col-1 {
    border: none;
    height: 60.472px;
    width: 20%;
    float: left; }
    .eligedestino2 .col-1 p {
      font-family: "montserratregular";
      color: white !important;
      font-size: 20px;
      text-align: center; }
  .eligedestino2 .col-2 {
    width: 70%;
    height: 60.472px;
    background-color: white;
    border: 2px solid white;
    float: left;
    padding-left: 20px; }
    .eligedestino2 .col-2 p {
      color: #B2B1B2 !important;
      font-size: 20px;
      font-family: "montserratregular";
      text-align: left; }
  .eligedestino2 .col-3 {
    width: 10%;
    height: 60.472px;
    float: left; }
    .eligedestino2 .col-3 i {
      color: white;
      text-align: center;
      font-size: 34px; }
  .eligedestino2 .col2 {
    width: 70%;
    height: auto;
    background-color: white;
    border: none;
    float: left;
    padding-left: 20px; }
    .eligedestino2 .col2 p {
      color: #B2B1B2 !important;
      font-size: 20px;
      font-family: "montserratregular";
      text-align: left; }

.slider .slides li .caption {
  top: 25% !important; }

.sl-video {
  position: absolute;
  bottom: 8%;
  right: 3%;
  z-index: 2; }

.imgnoti, .galeimg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*::::::::::INICIO MEDIA QUERY HOME:::::::::: */
@media (max-width: 1230px) {
  .home .dia-left h1, .home .dia-cerrado h1 {
    font-size: 14px; }
  .home .dia-left p, .home .dia-cerrado p {
    font-size: 11px;
    margin-top: 0px; } }
@media (max-width: 600px) {
  .home p {
    text-align: left; }
  .home .m6 {
    padding: 17px; }
  .home .dia-left {
    height: 250.46px; }

  .slider .slides li .caption {
    top: 15% !important; } }
@media (max-width: 1110px) {
  .eligedestino .col-1 p {
    font-size: 11px; }
  .eligedestino .col-2 p {
    font-size: 14px; }
  .eligedestino .col-3 i {
    font-size: 29px; } }
@media (max-width: 992px) {
  .eligedestino {
    width: 100%; }

  .slider .slides li .caption {
    width: 90%;
    left: 5%; }

  .home p {
    /*margin-top: 40px */
    padding-top: 14px; }
  .home h1 {
    font-size: 30px; }
    .home h1 a {
      padding-top: 0px;
      margin-bottom: 10px; } }
@media (max-width: 400px) {
  .home h1 a {
    font-size: 13px;
    border-bottom: 3px solid #DA604C; } }
/*:::::::::::::::INICIO NOTICIA ABIERTA::::::::::::::: */
.noticiabierta {
  margin-top: 56px; }
  .noticiabierta .row {
    margin-bottom: 0px !important; }
  .noticiabierta h6 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 14px;
    margin-top: 20px; }
  .noticiabierta .fondogrisnoticia {
    background-color: #F1F1F1;
    height: 156px; }
  .noticiabierta .fondogrisnoticia-2 {
    background-color: #F1F1F1;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 797px; }
  .noticiabierta h1 {
    font-family: "montserratbold";
    font-size: 21px;
    color: black; }
  .noticiabierta p {
    font-family: "montserratlight";
    color: #808080;
    font-size: 14px; }

/*:::::::::::::MEDIA QUERY NOTICI ABIERTA::::::::::::: */
@media (max-width: 600px) {
  .noticiabierta h6 {
    margin-top: 40px;
    margin-bottom: 40px; } }
@media (max-width: 992px) {
  .noticiabierta {
    margin-top: 0px; } }
/*::::::::::INICIO COMUNIDAD:::::::::: */
.comunidad {
  margin-top: 0px;
  margin-bottom: -20px; }
  .comunidad h1 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
  .comunidad p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 18px; }
  .comunidad h6 {
    font-family: "montserratregular";
    color: #DA604C;
    font-size: 16px; }
  .comunidad h2 {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 33px;
    text-align: left;
    padding: 20px;
    text-transform: uppercase; }
  .comunidad .ver-todo {
    background-color: #F1F1F1;
    height: 480px; }
    .comunidad .ver-todo .s12 {
      height: 100%; }
    .comunidad .ver-todo .valign-wrapper {
      height: 50%; }
    .comunidad .ver-todo .kamaratafondo {
      background-image: url(../img/comunidad1.jpg);
      background-position: center center;
      background-size: cover;
      height: 100%;
      position: relative; }
      .comunidad .ver-todo .kamaratafondo img {
        position: absolute;
        bottom: 0%; }
    .comunidad .ver-todo .birongofondo {
      background-image: url(../img/comunidad2.jpg);
      background-position: center center;
      background-size: cover;
      height: 100%;
      position: relative; }
      .comunidad .ver-todo .birongofondo img {
        position: absolute;
        bottom: 0%; }
    .comunidad .ver-todo h3 {
      color: white;
      font-size: 30px;
      font-family: "montserratregular";
      position: absolute;
      bottom: 0%;
      left: 2%; }
    .comunidad .ver-todo .rosac {
      width: 112px;
      height: 112px;
      background-color: #DA604C;
      position: absolute;
      bottom: 0%;
      right: 0%; }
      .comunidad .ver-todo .rosac p {
        color: white;
        text-align: center;
        font-family: "montserratbold";
        font-size: 13px;
        border-bottom: 3px solid white;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px; }
  .comunidad .feposak {
    background-image: url(../img/comunidad3.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    clear: both; }
    .comunidad .feposak p {
      color: white;
      border-bottom: 2px dashed white;
      font-family: "montserratregular";
      font-size: 22px;
      text-transform: uppercase;
      width: 80%;
      text-align: right; }
  .comunidad .feposak-2 {
    background-image: url(../img/comunidad4.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin-top: 160px;
    clear: both; }
    .comunidad .feposak-2 p {
      color: white;
      border-bottom: 2px dashed white;
      font-family: "montserratregular";
      font-size: 22px;
      text-transform: uppercase;
      width: 80%;
      text-align: right; }
  .comunidad .feposak-contac {
    background-image: url(../img/contacf.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin-top: 160px;
    clear: both; }
    .comunidad .feposak-contac p {
      color: white;
      border-bottom: 2px dashed white;
      font-family: "montserratregular";
      font-size: 22px;
      text-transform: uppercase;
      width: 80%;
      text-align: right; }
  .comunidad .lineacomu {
    background-color: #B2B1B2;
    height: 1px;
    width: 100%; }

/*:::::::::::MEDIA QUERY COMUNIDAD::::::::::: */
@media (max-width: 600px) {
  .comunidad p {
    font-size: 14px; }
  .comunidad .feposak p {
    font-size: 15px; } }
/*:::::::::::::INICIO COMUNIDAD INTERNO::::::::::::: */
.comunidad-inter {
  margin-top: 56px; }
  .comunidad-inter .principalimg {
    background-image: url(../img/kamarata.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .comunidad-inter .principalimg h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .comunidad-inter .principalimg h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 60px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 200px; }
  .comunidad-inter p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px; }
  .comunidad-inter h2 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
    .comunidad-inter h2 span {
      font-size: 24px;
      float: right; }
      .comunidad-inter h2 span a {
        color: #DA604C;
        font-size: 18px; }
  .comunidad-inter .birongo-iner {
    background-image: url(../img/birongo-iner.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .comunidad-inter .birongo-iner h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .comunidad-inter .birongo-iner h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 200px; }
  .comunidad-inter p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px; }
  .comunidad-inter h2 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
    .comunidad-inter h2 span {
      font-size: 24px;
      float: right; }
      .comunidad-inter h2 span a {
        color: #DA604C;
        font-size: 18px; }
  .comunidad-inter .viajexperencial, .comunidad-inter .viaje-volun {
    background-image: url(../img/viajex-experen.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative;
    margin-bottom: 45px; }
    .comunidad-inter .viajexperencial h6, .comunidad-inter .viaje-volun h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .comunidad-inter .viajexperencial h1, .comunidad-inter .viaje-volun h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 170px; }
  .comunidad-inter p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px; }
  .comunidad-inter h2 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
    .comunidad-inter h2 span {
      font-size: 24px;
      float: right; }
      .comunidad-inter h2 span a {
        color: #DA604C;
        font-size: 18px; }
  .comunidad-inter .viaje-volun {
    background-image: url(../img/viaje-volun.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative;
    margin-bottom: 45px; }
    .comunidad-inter .viaje-volun h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .comunidad-inter .viaje-volun h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 170px; }
  .comunidad-inter p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px; }
  .comunidad-inter h2 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
    .comunidad-inter h2 span {
      font-size: 24px;
      float: right; }
      .comunidad-inter h2 span a {
        color: #DA604C;
        font-size: 18px; }
  .comunidad-inter .viaex {
    background-image: url(../img/viajex.jpg);
    background-position: center center;
    background-size: cover;
    height: 259.44px;
    background-repeat: no-repeat;
    position: relative; }
    .comunidad-inter .viaex img {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 259.44px;
      top: 0%; }
    .comunidad-inter .viaex h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 21px;
      text-transform: uppercase;
      position: absolute;
      left: 2%;
      bottom: 3%;
      z-index: 2; }
    .comunidad-inter .viaex h2 {
      font-family: "proxima_nova_altlight";
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      position: absolute;
      bottom: 3%;
      right: 2%;
      z-index: 2; }
    .comunidad-inter .viaex .verdeprecio {
      background-color: #809A1F;
      height: 43px;
      width: 143px;
      position: absolute;
      top: 0%;
      right: 0%; }
      .comunidad-inter .viaex .verdeprecio p {
        color: white;
        font-family: "proxima_nova_altlight";
        font-size: 12px;
        text-transform: uppercase;
        text-align: center; }
    .comunidad-inter .viaex .carnedia {
      background-color: #FBBA5E;
      height: 43px;
      width: 143px;
      position: absolute;
      top: 0%;
      right: 15%; }
      .comunidad-inter .viaex .carnedia p {
        color: white;
        font-family: "proxima_nova_altlight";
        font-size: 12px;
        text-transform: uppercase;
        text-align: center; }
  .comunidad-inter .fondogris {
    background-color: #E2E2E2; }
  .comunidad-inter a.btn {
    border: 1px solid #333333;
    background-color: transparent;
    color: #333333;
    font-family: "proxima_nova_altlight";
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }

.fondo-viaje {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F1F1F1; }

/*::::::::::::::MEDIA QUERY COMUNIDAD INTERNA:::::::::::::: */
@media (max-width: 1400px) {
  .comunidad-inter .viaex .carnedia {
    left: 0%; } }
@media (max-width: 1400px) {
  .comunidad-inter .viaex h1 {
    bottom: 15%; } }
@media (max-width: 1150px) and (min-width: 659px) {
  .comunidad-inter h2 {
    font-size: 29px; }
    .comunidad-inter h2 span {
      font-size: 15px; }
      .comunidad-inter h2 span a {
        font-size: 13px; } }
@media (max-width: 680px) {
  .comunidad-inter .viaje-volun, .comunidad-inter .birongo-iner {
    height: 210px; }
    .comunidad-inter .viaje-volun h1, .comunidad-inter .birongo-iner h1 {
      font-size: 34px;
      margin-top: 25px; }
  .comunidad-inter .center-block {
    width: 100% !important; } }
@media (max-width: 658px) {
  .comunidad-inter h2 {
    font-size: 29px; }
    .comunidad-inter h2 span {
      font-size: 15px;
      float: left; }
      .comunidad-inter h2 span a {
        font-size: 13px; } }
@media (max-width: 460px) {
  .comunidad-inter .principalimg {
    height: 200px; }
    .comunidad-inter .principalimg h1 {
      margin-top: 16px;
      font-size: 49px; }
  .comunidad-inter .viaex img {
    position: absolute;
    top: -30%;
    height: 130%; }
  .comunidad-inter .viaex .carnedia {
    left: 0%; }
  .comunidad-inter .viaex h1 {
    bottom: 14%; }

  .padding80 {
    padding: 20px !important; } }
@media (max-width: 600px) {
  .comunidad-inter .viajexperencial {
    height: 225px; }
    .comunidad-inter .viajexperencial h1 {
      font-size: 40px;
      margin-top: 0px; } }
@media (max-width: 992px) {
  .comunidad-inter {
    margin-top: 0px; } }
/*:::::::::::::::INICIO VIAJE INDIVIDUAL::::::::::::::: */
.individual {
  margin-top: 56px; }
  .individual .principalimg {
    background-image: url(../img/indi.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .individual .principalimg h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .individual .principalimg h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 195px;
      text-shadow: 2px 2px 4px #000000; }
  .individual p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px; }
  .individual h2 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-transform: uppercase; }
    .individual h2 span {
      font-size: 24px;
      float: right; }
      .individual h2 span a {
        color: #DA604C;
        font-size: 18px; }
  .individual .titulogaleria {
    background-color: #465BA7;
    width: 100%;
    margin: 0 auto; }
  .individual h1 {
    color: white;
    font-family: "montserratregular";
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px; }
  .individual .titulodias {
    background-color: #7DB9D9;
    width: 100%;
    margin: 0 auto; }
  .individual .titulointine {
    background-color: #5878B5;
    width: 100%;
    margin: 0 auto; }
  .individual .itinerario {
    background-color: rgba(125, 185, 217, 0.1);
    width: 100%;
    min-height: 358.578px;
    margin-top: -32px;
    padding: 10px; }
    .individual .itinerario h1 {
      font-family: "proxima_nova_altlight";
      font-size: 16px;
      color: #808080;
      text-transform: uppercase; }
    .individual .itinerario ul {
      list-style: none; }
      .individual .itinerario ul li {
        font-family: "proxima_nova_altlight";
        font-size: 14px;
        color: #5878B5; }
        .individual .itinerario ul li span {
          color: #808080; }
  .individual h3 {
    font-family: "proxima_nova_altlight";
    color: #7DB9D9;
    font-size: 13.33px; }
    .individual h3 strong {
      font-family: "proxima_nova_rgbold"; }
    .individual h3 span {
      float: right; }
  .individual .btn {
    border-radius: 25px;
    float: right;
    margin-top: 13px; }
  .individual .expand {
    background-color: #465BA7;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    right: 14%;
    top: 5%;
    border-radius: 25px; }
    .individual .expand i {
      color: white;
      font-size: 15px;
      top: 31%;
      position: absolute;
      right: 32%; }
  .individual .framev {
    margin-top: 15px;
    height: 345px; }
  .individual li {
    float: left;
    padding-left: 0px;
    padding-right: 10px; }

.fondo-descrip {
  width: 100%;
  background-color: #F1F1F1;
  min-height: 225.715px;
  margin-top: 30px;
  border: 2px solid white; }
  .fondo-descrip h1 {
    color: #333333;
    font-size: 14.73px;
    font-family: "proxima_nova_altlight";
    text-align: left;
    margin-top: 5px !important; }
  .fondo-descrip li {
    font-size: 15px;
    font-family: "proxima_nova_altlight";
    color: #808080;
    list-style: disc;
    margin-left: 24px; }

/*::::::::::INICIO MEDIA QUERY VIAJE INDIVIDUAL:::::::::: */
@media (max-width: 762px) {
  .individual .framev {
    height: 250px; } }
@media (max-width: 880px) {
  .individual .principalimg h1 {
    margin-top: 70px;
    font-size: 26px; } }
@media (max-width: 992px) {
  .individual {
    margin-top: 0px; } }
/*::::::::::::::::INCIO FORMULARIO VIAJE:::::::::::::::: */
.formviaje {
  margin-top: 56px; }
  .formviaje .formcontacto {
    background-color: #F1F1F1;
    margin-top: -26px;
    margin-bottom: -28px; }
    .formviaje .formcontacto h1 {
      font-family: "montserratregular";
      font-size: 32.97px;
      color: #808080;
      text-transform: uppercase; }
    .formviaje .formcontacto p {
      font-family: "montserratbold";
      font-size: 19.23px;
      color: #808080;
      text-transform: uppercase; }
    .formviaje .formcontacto h4 {
      color: #808080;
      font-size: 20px;
      font-family: "proxima_nova_altlight"; }
    .formviaje .formcontacto h2 {
      color: #808080;
      font-size: 14px;
      font-family: "montserratbold";
      text-transform: uppercase; }
    .formviaje .formcontacto li {
      float: left;
      padding: 10px; }
      .formviaje .formcontacto li i {
        font-size: 50px;
        color: #B2B1B2; }
  .formviaje .input-field-2 {
    border-radius: 30px;
    height: 41px;
    background-color: rgba(0, 167, 155, 0.3);
    position: relative;
    margin-top: -12px;
    width: 95% !important; }
    .formviaje .input-field-2 input {
      border-bottom: none !important;
      padding-left: 25%;
      width: 75% !important; }
    .formviaje .input-field-2 .active {
      border-bottom: none; }
  .formviaje .input-field-3 {
    min-height: 217px;
    position: relative;
    margin-top: -12px;
    width: 95% !important; }
  .formviaje .input-field-4 {
    border-radius: 30px;
    height: 41px;
    background-color: rgba(252, 187, 94, 0.3);
    position: relative;
    margin-top: -12px;
    width: 95% !important;
    margin-left: 11px !important; }
    .formviaje .input-field-4 input {
      border-bottom: none !important;
      padding-left: 25%;
      width: 75% !important; }
    .formviaje .input-field-4 .active {
      border-bottom: none; }
  .formviaje .input-field-vi {
    border-radius: 30px;
    height: 41px;
    background-color: rgba(0, 167, 155, 0.3);
    position: relative;
    margin-top: -12px;
    width: 90% !important; }
    .formviaje .input-field-vi input {
      border-bottom: none !important;
      padding-left: 20%;
      width: 50% !important; }
    .formviaje .input-field-vi .label-epo {
      color: white;
      height: 41px;
      background-color: rgba(0, 167, 155, 0.5);
      top: 0;
      left: 0;
      width: 20% !important;
      padding: 12px;
      position: absolute;
      text-transform: uppercase;
      font-size: 13px; }

.btnenviar {
  border-radius: 25px;
  margin-left: -10px;
  background-color: #DA604C;
  font-family: "montserratbold";
  font-size: 12.49px;
  margin-bottom: 20px;
  margin-top: 10px; }
  .btnenviar:hover {
    background-color: #E53725; }
  .btnenviar i {
    font-size: 13px; }

.btnenviar-2 {
  border-radius: 25px;
  margin-left: -10px;
  background-color: #DA604C;
  font-family: "montserratbold";
  font-size: 12.49px;
  margin-bottom: 20px;
  margin-top: -100px; }
  .btnenviar-2:hover {
    background-color: #E53725; }
  .btnenviar-2 i {
    font-size: 13px; }

.label-epo {
  color: white;
  border-radius: 30px 0px 0px 30px;
  height: 41px;
  background-color: rgba(0, 167, 155, 0.5);
  top: 0;
  left: 0;
  width: 25% !important;
  padding: 12px;
  position: absolute;
  text-transform: uppercase;
  font-size: 13px; }

.textarea-label {
  width: 100%;
  background-color: rgba(51, 130, 166, 0.7);
  color: white;
  height: 41px;
  top: 0;
  left: 0;
  padding: 8px;
  position: absolute;
  text-transform: uppercase;
  font-size: 19.22px;
  font-family: "montserratregular"; }

.textarea-1 {
  margin-top: 40px !important;
  background-color: rgba(51, 130, 166, 0.3) !important;
  border-bottom: none !important;
  margin-left: 0px !important;
  width: 100% !important;
  padding: 11px !important;
  min-height: 90px !important;
  box-sizing: inherit !important; }

.aporte-epo {
  background-color: rgba(51, 130, 166, 0.3);
  height: 130px;
  width: 95%;
  margin-top: -12px; }
  .aporte-epo h1 {
    color: white !important;
    font-family: "montserratregular" !important;
    font-size: 19.22px !important;
    margin: 10px 0px 0px 0px !important; }
  .aporte-epo label {
    color: white !important;
    font-family: "proxima_nova_altlight" !important;
    font-size: 13.73px !important; }

.input-monto {
  border-bottom: none !important;
  width: 80% !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  height: 20px !important;
  border-radius: 10px !important;
  padding-left: 15px !important; }

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  border: 2px solid white !important; }

/*:::::::::::MEDIA QUERY FROM VIAJE::::::::::: */
@media (max-width: 1450px) {
  .formviaje .input-field-vi input {
    padding-left: 38%; }
  .formviaje .input-field-vi .label-epo {
    width: 37% !important; } }
@media (max-width: 1200px) {
  .formviaje .input-field-2 input {
    width: 58% !important;
    padding-left: 42%; }

  .label-epo {
    width: 40% !important; } }
@media (max-width: 600px) {
  .formviaje .formcontacto h4 {
    font-size: 16px; } }
@media (max-width: 992px) {
  .btnenviar-2 {
    margin-top: 0px; }

  .formviaje {
    margin-top: 0px; } }
/*:::::::::::INICIO FUNDACION EPOSAK::::::::::: */
.fundacionepo {
  margin-top: 56px; }
  .fundacionepo .funda-inter {
    background-image: url(../img/fundacion.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .fundacionepo .funda-inter h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 280px; }
  .fundacionepo ul {
    padding-left: 10px;
    border-left: 1px solid #808080; }
  .fundacionepo li {
    color: #808080;
    font-family: "montserratregular";
    font-size: 16px;
    position: relative;
    padding-left: 5px; }
    .fundacionepo li a {
      text-decoration: none !important;
      color: #808080; }
    .fundacionepo li h4 {
      text-decoration: none;
      font-size: 5px;
      position: absolute;
      top: -26%;
      left: -1%; }
  .fundacionepo li:first-child {
    text-decoration: underline !important; }
  .fundacionepo h1 {
    font-family: "montserratregular";
    font-size: 36px;
    color: #808080;
    text-transform: uppercase; }
    .fundacionepo h1 a {
      font-family: "montserratbold";
      color: #DA604C;
      font-size: 16px;
      float: right;
      text-decoration: none;
      border-bottom: 4px solid #DA604C;
      line-height: 17px;
      padding-top: 20px; }
  .fundacionepo p {
    font-family: "proxima_nova_altlight";
    font-size: 14px;
    color: #808080;
    text-align: left;
    padding: 30px; }
  .fundacionepo h2 {
    font-family: "montserratregular";
    color: black;
    font-size: 22px;
    text-transform: uppercase; }
    .fundacionepo h2 a {
      text-decoration: none;
      color: black; }
  .fundacionepo h6 {
    font-family: "montserratregular";
    font-size: 14px;
    color: #808080; }
  .fundacionepo h3 {
    font-family: "montserratbold";
    font-size: 18px;
    color: black; }

/*:::::::::::CAMBIO DE IMAGEN FONDO APORTE EPOSAK::::::::::: */
.comunidad .aportepo {
  background-color: #FBBA5E;
  width: 100%;
  height: 135px;
  margin-bottom: 0px; }
  .comunidad .aportepo h1 {
    font-family: "montserratregular";
    color: white;
    font-size: 32px; }
.comunidad .ver-todo .kamaratafondo-2 {
  background-image: url(../img/aporte1.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative; }
.comunidad .ver-todo .birongofondo-2 {
  background-image: url(../img/aporte2.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative; }
.comunidad .ver-todo h3 {
  /*text-shadow: 2px 2px rgba( 0, 0, 0,0.8) */ }

/*:::::::::::::::MEDIA QUERY FUNDACI├ûN EPOSAK::::::::::::::: */
@media (max-width: 600px) {
  .fundacionepo .funda-inter {
    height: 200px; }
    .fundacionepo .funda-inter h1 {
      font-size: 40px;
      margin-top: 90px; } }
@media (max-width: 1098px) and (min-width: 601px) {
  .fundacionepo .funda-inter h1 {
    font-size: 44px; } }
@media (max-width: 1098px) and (min-width: 993px) {
  .fundacionepo .funda-inter h1 {
    font-size: 44px; } }
@media (max-width: 992px) {
  .fundacionepo {
    margin-top: 0px; } }
/*:::::::::::INICIO CASOS DE EXITO::::::::::: */
.exito h1 {
  font-family: "montserratregular";
  font-size: 36px;
  color: #808080;
  text-transform: uppercase; }
.exito p {
  font-family: "proxima_nova_altlight";
  font-size: 17.82px;
  color: #808080; }
.exito h2 {
  font-family: "montserratregular";
  font-size: 24px;
  color: #333333;
  text-transform: uppercase; }
  .exito h2 span {
    color: #FBBA5E;
    text-transform: uppercase; }
.exito .ficha {
  background-color: rgba(251, 186, 94, 0.3);
  width: 100%;
  padding: 15px;
  height: 225px;
  margin-top: 10px; }
  .exito .ficha h3 {
    font-family: "montserratregular";
    color: #FBBA5E;
    font-size: 16px;
    text-transform: uppercase; }
    .exito .ficha h3 span {
      font-size: 9.39px;
      color: #D02029;
      border-bottom: 2px solid #D02029;
      text-transform: uppercase;
      font-family: "montserratbold";
      float: right;
      line-height: 11px; }
.exito .ficha-2 {
  background-color: rgba(220, 95, 52, 0.1);
  width: 100%;
  height: 225px;
  margin-top: 10px;
  padding-right: 15px; }
  .exito .ficha-2 h3 {
    font-family: "montserratregular";
    color: #FBBA5E;
    font-size: 16px;
    text-transform: uppercase; }
    .exito .ficha-2 h3 span {
      font-size: 9.39px;
      color: #D02029;
      border-bottom: 2px solid #D02029;
      text-transform: uppercase;
      font-family: "montserratbold";
      float: right;
      line-height: 11px; }
.exito .back-comu {
  background-image: url(../img/comunitario.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative; }
  .exito .back-comu .mas-expan {
    position: absolute;
    background-color: rgba(251, 186, 94, 0.8);
    width: 37px;
    height: 37px;
    top: 5%;
    right: 5%;
    border-radius: 20px; }
    .exito .back-comu .mas-expan i {
      color: white;
      font-size: 20px; }
  .exito .back-comu p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14.09px; }

/*::::::::::::::MEDIA QUERY CASOS DE EXITO:::::::::::::: */
@media (max-width: 795px) and (min-width: 600px) {
  .exito .ficha, .exito .ficha-2 {
    height: 305px; } }
@media (max-width: 600px) {
  .exito h1 {
    font-size: 25px; }
  .exito p {
    font-size: 13.82px; }
  .exito h2 {
    font-size: 20px;
    margin-top: -15px; }
  .exito .ficha {
    padding: 5px; }
    .exito .ficha h3 span {
      margin-top: -16px; } }
@media (max-width: 710px) {
  .comunidad-inter .principalimg h1 {
    font-size: 34px; } }
/*::::::::::::::INICIO VOLUNTARIADO:::::::::::::: */
.voluntariado h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "montserratregular";
  color: #808080; }
  .voluntariado h1 span {
    float: right;
    font-family: "montserratbold";
    color: #D02029;
    font-size: 16px;
    border-bottom: 2px solid #D02029;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 10px; }
.voluntariado p {
  font-size: 17.82px;
  color: #808080;
  font-family: "proxima_nova_altlight";
  clear: both; }
.voluntariado .fndgris {
  background-color: #F1F1F1;
  padding-top: 20px;
  padding-bottom: 20px; }
.voluntariado .masymenos {
  border: 1px solid #808080;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  color: #808080;
  cursor: pointer; }

/*::::::::::::::::::INICIO MEDIA QUERY VOLUNTARIADO:::::::::::::::::: */
@media (max-width: 600px) {
  .voluntariado h1 {
    font-size: 25px; }
    .voluntariado h1 span {
      float: none;
      font-size: 13px;
      margin-bottom: 10px; }
  .voluntariado .masymenos {
    margin: 0 auto; }
  .voluntariado p {
    font-size: 14.82px; } }
/*::::::::::INICIO PORYECTOS:::::::::: */
.ttlemprendedor {
  width: 80%;
  height: 53.261px;
  background-color: rgba(251, 186, 94, 0.6);
  padding-left: 42px;
  margin-top: 20px; }
  .ttlemprendedor h1 {
    color: white;
    font-family: "montserratbold";
    font-size: 20px; }

/*::::::::::::::::INICO CONTACTO:::::::::::::::: */
.contacto {
  margin-top: 56px; }
  .contacto .contacto-banner {
    background-image: url(../img/contacto.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .contacto .contacto-banner h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 280px; }

.ttl-contac {
  margin-top: 20px;
  width: 100%;
  background-color: #EB8C46;
  height: 50px;
  padding-left: 20px; }
  .ttl-contac h1 {
    color: white !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    font-family: "montserratbold" !important;
    padding-bottom: 7px !important; }

.label-epo-2 {
  color: white;
  border-radius: 30px 0px 0px 30px;
  height: 41px;
  background-color: #FCBB5E;
  top: 0;
  left: 0;
  width: 25% !important;
  padding: 12px;
  position: absolute;
  text-transform: uppercase;
  font-size: 13px; }

.textarea-label-2 {
  width: 100%;
  background-color: #FCBB5E;
  color: white;
  height: 41px;
  top: 0;
  left: 0;
  padding: 8px;
  position: absolute;
  text-transform: uppercase;
  font-size: 19.22px;
  font-family: "montserratregular";
  border-radius: 15px 15px 0px 0px; }

.textarea-2 {
  margin-top: 40px !important;
  background-color: rgba(252, 187, 94, 0.3) !important;
  border-bottom: none !important;
  margin-left: 0px !important;
  width: 100% !important;
  padding: 11px !important;
  min-height: 198.744px !important;
  box-sizing: inherit !important;
  border-radius: 0px 0px 15px 15px !important; }

.conta-map {
  margin-top: 40px; }
  .conta-map h1 {
    font-size: 14px;
    font-family: "montserratbold";
    color: #333333;
    text-transform: uppercase; }
  .conta-map p {
    font-family: "proxima_nova_altlight";
    font-size: 20px;
    color: #808080; }

/*:::::::::MEDIA QUERY CONTACTO::::::::: */
@media (max-width: 600px) {
  .contacto .contacto-banner {
    height: 200px; }
    .contacto .contacto-banner h1 {
      font-size: 40px;
      margin-top: 125px; }

  .conta-map p {
    font-size: 16px; } }
@media (max-width: 992px) {
  .contacto {
    margin-top: 0px; } }
/*:::::::::::INICIO DATOS CUENTA::::::::::: */
.datos h1 {
  font-family: "montserratregular";
  font-size: 16px;
  color: #808080;
  text-transform: uppercase; }
.datos .subnav-datos {
  width: 100%;
  background-color: #E2E2E2;
  height: 84.724px;
  margin-top: 56px; }
  .datos .subnav-datos h1 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase; }
  .datos .subnav-datos h2 {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; }

td {
  width: 33%; }

tr {
  height: 80.337px; }
  tr h3 {
    font-family: "montserratregular";
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
    margin-left: 10px; }
  tr h4 {
    font-family: "montserratregular";
    font-size: 14px;
    color: #808080;
    text-transform: uppercase; }
  tr p {
    font-family: "montserratregular";
    font-size: 10px;
    color: #808080;
    text-transform: uppercase;
    text-align: right;
    margin-right: 25px; }

.btn-datos {
  margin: 0 auto;
  width: 127px;
  height: 35px;
  display: block;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #DA604C;
  font-family: "montserratbold";
  font-size: 12.49px;
  color: white;
  text-transform: uppercase;
  text-align: center; }
  .btn-datos p {
    margin-top: 10px; }

/*::::::::::::MEDIA QUERY DATOS CUENTA:::::::::::: */
@media (max-width: 450px) {
  tr h3 {
    font-size: 10px; }
  tr h4 {
    font-size: 10px; } }
@media (max-width: 992px) {
  .datos .subnav-datos {
    margin-top: 0px; } }
/*::::::::::::::::INICIO TESTIMONIO:::::::::::::::: */
.testimonio {
  background-color: #F1F1F1;
  padding-top: 20px;
  padding-bottom: 20px; }
  .testimonio h1 {
    font-family: "montserratregular";
    color: #808080;
    font-size: 36px;
    text-align: center; }
  .testimonio p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 18px; }
    .testimonio p span {
      color: black;
      font-family: "montserratbold";
      font-size: 17px; }

@media (max-width: 600px) {
  .testimonio p {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px; }
    .testimonio p span {
      font-size: 12px; } }
/*::::::::::::INICIO PROYECTO COMUNITARIO:::::::::::: */
.comunitario {
  margin-top: 56px; }
  .comunitario .principalimg {
    background-image: url(../img/comunitario-2.jpg);
    background-position: center center;
    background-size: cover;
    height: 396px;
    position: relative; }
    .comunitario .principalimg h6 {
      margin-top: 20px;
      color: white;
      font-size: 14px;
      font-family: "montserratregular"; }
    .comunitario .principalimg h1 {
      font-family: "montserratregular";
      color: white;
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 240px;
      text-shadow: 2px 2px 4px #000000; }
  .comunitario .titulogaleria-2 {
    background-color: #DA604C;
    width: 100%;
    margin: 0 auto;
    height: 48px; }
    .comunitario .titulogaleria-2 h1 {
      color: white;
      font-size: 19px;
      text-transform: uppercase;
      text-align: center;
      padding: 13px; }
  .comunitario .expand {
    background-color: #465BA7;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    right: 14%;
    top: 5%;
    border-radius: 25px; }
    .comunitario .expand i {
      color: white;
      font-size: 15px;
      top: 31%;
      position: absolute;
      right: 32%; }
  .comunitario .framev {
    margin-top: 15px;
    height: 345px; }
  .comunitario .ttltecnica {
    width: 100%;
    margin: 0 auto;
    height: 48px;
    background-color: #EA8B46; }
    .comunitario .ttltecnica h1 {
      color: white;
      font-size: 19px;
      text-transform: uppercase;
      text-align: center;
      padding: 13px; }
  .comunitario h2 {
    font-family: "proxima_nova_altlight";
    font-size: 14px;
    color: #808080;
    line-height: 0px; }
    .comunitario h2 span {
      font-family: "montserratbold";
      font-size: 14px;
      color: #333333; }
  .comunitario p {
    font-family: "proxima_nova_altlight";
    font-size: 14px;
    color: #808080; }
  .comunitario ul {
    margin-top: -20px; }
  .comunitario li {
    float: left;
    padding: 10px;
    color: #00A79B;
    font-size: 24px; }
  .comunitario .btn {
    border-radius: 25px;
    float: right;
    margin-top: 13px; }
  .comunitario .fondo-descrip-2 {
    width: 100%;
    background-color: #F1F1F1;
    padding: 15px; }
    .comunitario .fondo-descrip-2 h1 {
      color: #333333;
      font-size: 14.73px;
      font-family: "proxima_nova_altlight";
      text-align: left;
      text-transform: uppercase;
      margin: 0; }
    .comunitario .fondo-descrip-2 li {
      font-size: 15px;
      font-family: "proxima_nova_altlight";
      color: #808080;
      list-style: disc;
      margin-left: 24px;
      float: none;
      line-height: 16px;
      margin-top: -5px; }
    .comunitario .fondo-descrip-2 ul {
      margin: 0; }
  .comunitario .ttlficha {
    width: 100%;
    height: 50px;
    background-color: #954968; }
    .comunitario .ttlficha h1 {
      font-family: "montserratbold";
      color: white;
      font-size: 19px;
      text-align: center;
      text-transform: uppercase;
      padding: 15px; }
  .comunitario .total {
    background-color: #E5E5E4;
    width: 100%;
    height: 111px;
    margin-top: 7px; }
    .comunitario .total h1 {
      font-family: "proxima_nova_altlight";
      font-size: 14px;
      color: #808080;
      text-transform: uppercase; }
      .comunitario .total h1 span {
        font-family: "montserratbold";
        text-transform: uppercase; }
  .comunitario .financiamiento {
    background-color: #F1F1F1;
    width: 100%;
    height: 111px;
    margin-top: 7px; }
    .comunitario .financiamiento h1 {
      font-family: "proxima_nova_altlight";
      font-size: 14px;
      color: #808080;
      text-transform: uppercase;
      text-align: center;
      margin: 0px; }
      .comunitario .financiamiento h1 span {
        font-family: "montserratbold";
        text-transform: uppercase; }
    .comunitario .financiamiento li.listaw {
      width: 80%; }
    .comunitario .financiamiento .rango {
      /*width: 100% */
      background-color: #00A79B;
      height: 12px; }
  .comunitario .objetivo {
    background-color: #F1F1F1;
    width: 100%;
    margin-top: 7px;
    border-top: 1px solid black;
    padding: 15px; }
    .comunitario .objetivo h1 {
      font-family: "montserratbold";
      font-size: 14px;
      color: #808080;
      text-transform: uppercase; }
    .comunitario .objetivo p {
      font-size: 14px;
      color: #808080;
      font-family: "proxima_nova_altlight";
      margin: 0px; }

/*:::::::::::MEDIA QUERY COMUNITARIO::::::::::: */
@media (max-width: 1110px) and (min-width: 600px) {
  .comunitario .ttltecnica h1 {
    font-size: 12px;
    padding: 20px; } }
@media (max-width: 640px) {
  .comunitario h2 span {
    font-size: 13px; } }
@media (max-width: 992px) {
  .comunitario {
    margin-top: 0px; }
    .comunitario .fondo-descrip-2 {
      margin-top: 15px; } }
@media (max-width: 1221px) {
  .comunitario .financiamiento {
    height: 122px; }
    .comunitario .financiamiento li.listaw {
      width: 60%; } }
@media (max-width: 800px) {
  .comunitario .principalimg {
    height: 272px; }
    .comunitario .principalimg h1 {
      font-size: 22px;
      margin-top: 38px; } }
/*@media (max-width:1425px) and (min-width:993px)
 * .comunitario
 *     .financiamiento
 *         .rango
 *             width: 118px */
/*:::::::::::::INICIO REGISTRO::::::::::::: */
.registro {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 57px;
  display: none;
  margin-bottom: -60px; }
  .registro h1 {
    font-size: 16px;
    font-family: "montserratbold";
    color: #808080;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .registro .input-field-5 {
    border-radius: 30px;
    height: 41px;
    background-color: rgba(0, 167, 155, 0.3);
    position: relative;
    margin-top: -12px;
    width: 90% !important; }
    .registro .input-field-5 input {
      border-bottom: none !important;
      padding-left: 52%;
      width: 50% !important; }
    .registro .input-field-5 .label-epo {
      color: white;
      height: 41px;
      background-color: rgba(0, 167, 155, 0.5);
      top: 0;
      left: 0;
      width: 50% !important;
      padding: 12px;
      position: absolute;
      text-transform: uppercase;
      font-size: 13px; }
  .registro ul {
    float: left;
    margin-top: -20px; }
    .registro ul li {
      float: left;
      padding: 5px;
      font-size: 20px;
      color: #808080;
      padding-left: 12px; }
  .registro p {
    font-size: 14px;
    font-family: "proxima_nova_altlight";
    color: #808080; }

/*::::::::::MEDIA QUERY REGISTRO:::::::::: */
@media (max-width: 992px) and (min-width: 570px) {
  .registro .input-field-5 input {
    width: 56% !important;
    padding-left: 23%; }
  .registro .input-field-5 .label-epo {
    width: 22% !important; } }
@media (max-width: 569px) {
  .registro .input-field-5 input {
    width: 56% !important;
    padding-left: 41%; }
  .registro .input-field-5 .label-epo {
    width: 40% !important; } }
/*::::::::::::::::::INICIO EPOSAK:::::::::::::::::: */
.quees {
  margin-top: 57px;
  margin-bottom: -40px; }
  .quees h1 {
    font-family: "montserratbold";
    font-size: 46px;
    color: #5878B5;
    text-align: center;
    margin-top: 50px; }
  .quees p {
    font-family: "proxima_nova_altlight";
    color: #808080;
    font-size: 16px;
    padding: 20px; }
  .quees h2 {
    text-align: center;
    font-family: "montserratregular";
    font-size: 16px;
    color: #5878B5;
    text-transform: uppercase; }
  .quees li {
    float: left; }
  .quees .mini-menu {
    position: fixed;
    bottom: 5%;
    background-color: #5878B5;
    width: 100%;
    margin: 0 auto;
    /*height: 123px */ }
    .quees .mini-menu ul {
      margin: 0 auto;
      width: 1063px; }
    .quees .mini-menu li {
      border-left: 1px solid white;
      font-family: "proxima_nova_rgbold";
      color: white;
      font-size: 13.28px;
      text-align: center;
      text-transform: uppercase;
      padding: 15px;
      height: 123px;
      width: 143px;
      min-width: 110px; }
      .quees .mini-menu li:last-child {
        border-right: 1px solid white; }
      .quees .mini-menu li:hover {
        background-color: rgba(255, 255, 255, 0.3); }
  .quees .altura-movil {
    background-image: url(../img/quees1.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 913px; }
  .quees .altura-movil-2 {
    background-image: url(../img/quees2.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 913px; }
  .quees .indica {
    width: 100%;
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .quees .active {
    /*width: 75% */
    margin: 0 auto; }

/*::::::MODIFICACION CORRIUSEL BOOSTRAP:::::: */
.carousel-indicators {
  display: block !important;
  margin: 0 auto !important;
  position: absolute !important;
  bottom: inherit !important;
  z-index: inherit !important;
  width: 100% !important;
  margin-left: 0px !important;
  left: 44% !important; }
  .carousel-indicators .active {
    background-color: #5878B5 !important; }
  .carousel-indicators li {
    border: 1px solid #979797 !important; }

.carousel-control.left, .carousel-control.right {
  background-image: none !important; }

.flecha {
  background-color: gray;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  padding: 5px; }

/*:::::MEDIA QUERTY MODIFICACION CAROUSEL BOOSTRAP::::: */
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: inherit !important; } }
@media (max-width: 400px) {
  .carousel-indicators {
    left: 37% !important; } }
/*::::::::::::MEDIA QUERY EPOSAK:::::::::::: */
@media (max-width: 992px) {
  .altura-movil, .altura-movil-2 {
    height: 200px !important; }

  .quees {
    margin-top: 0px; } }
@media (min-width: 1064px) {
  .quees .mini-menu ul {
    width: 1006px; }
  .quees .mini-menu li {
    font-size: 12.28px; } }

/*# sourceMappingURL=style.css.map */
