/*::::::::INCIO VARIABLES COLORES:::::::: */
/*:::::::::::::::::::::INICIO FONT FACE::::::::::::::::::::: */
@font-face {
  font-family: "montserratregular";
  src: url("../font/montserrat-regular-webfont.eot");
  src: url("../font/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-regular-webfont.woff2") format("woff2"), url("../font/montserrat-regular-webfont.woff") format("woff"), url("../font/montserrat-regular-webfont.ttf") format("truetype"), url("../font/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratbold";
  src: url("../font/montserrat-bold-webfont.eot");
  src: url("../font/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-bold-webfont.woff2") format("woff2"), url("../font/montserrat-bold-webfont.woff") format("woff"), url("../font/montserrat-bold-webfont.ttf") format("truetype"), url("../font/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratlight";
  src: url("../font/montserrat-light-webfont.eot");
  src: url("../font/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-light-webfont.woff2") format("woff2"), url("../font/montserrat-light-webfont.woff") format("woff"), url("../font/montserrat-light-webfont.ttf") format("truetype"), url("../font/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
/*::::::::::::::::INICIO BARRA NAVEGACION:::::::::::::::: */
nav {
  background-color: white;
  height: 120px; }
  nav .brand-logo {
    position: inherit;
    display: inline !important; }
    nav .brand-logo img {
      margin-top: 12px; }
  nav i.material-icons {
    color: #808080; }
  nav .brand-logo {
    margin-top: 12px; }
  nav ul {
    height: 120px; }
    nav ul a {
      color: #808080 !important;
      font-family: "montserratregular";
      font-size: 14px;
      height: 120px;
      text-align: center;
      padding-top: 40px;
      border-bottom: 10px solid #808080;
      width: 130px;
      line-height: 19px; }
      nav ul a:hover {
        color: white !important;
        background-color: rgba(70, 91, 167, 0.6);
        border-bottom: 10px solid #465BA7; }
    nav ul a.verdeoscuro {
      border-bottom: 10px solid #305D09; }
      nav ul a.verdeoscuro:hover {
        border-bottom: 10px solid #465BA7; }
    nav ul a.verdeclaro {
      border-bottom: 10px solid #809A1F; }
      nav ul a.verdeclaro:hover {
        border-bottom: 10px solid #465BA7; }
    nav ul a.carne {
      border-bottom: 10px solid #FBBA5E; }
      nav ul a.carne:hover {
        border-bottom: 10px solid #465BA7; }
    nav ul a.carne2 {
      border-bottom: 10px solid #EA8B46; }
      nav ul a.carne2:hover {
        border-bottom: 10px solid #465BA7; }
    nav ul a.naranja {
      border-bottom: 10px solid #DC5F34; }
      nav ul a.naranja:hover {
        border-bottom: 10px solid #465BA7; }
    nav ul a.rojo {
      color: #D02029 !important;
      border-bottom: 10px solid #D02029;
      padding-top: 26px; }
      nav ul a.rojo:hover {
        border-bottom: 10px solid #465BA7; }

.redesnav ul li {
  margin-top: -14px; }
  .redesnav ul li a {
    font-size: 24px !important;
    color: #DA604C !important;
    border: none !important;
    width: 25px !important;
    min-width: 25px !important; }
    .redesnav ul li a:hover {
      background-color: transparent;
      color: #808080 !important; }

.idiomanav ul li {
  float: right !important; }
  .idiomanav ul li a {
    font-size: 12px !important;
    border: none !important;
    padding: 0px;
    min-width: auto !important; }
    .idiomanav ul li a:hover {
      background-color: transparent;
      text-decoration: underline; }
  .idiomanav ul li a.idiomafuera {
    font-family: "montserratbold" !important;
    width: inherit !important;
    color: #DA604C !important; }
  .idiomanav ul li a.idiomadentro {
    font-family: "montserratlight" !important;
    width: inherit !important;
    color: #808080 !important; }

.slider .indicators {
  display: none; }

.gallery {
  background: #EEE; }

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell; }

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; }

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white; }

.flickity-prev-next-button.no-svg {
  color: white; }

.flickity-prev-next-button:hover {
  background: transparent; }

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: block; }

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px; }

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white; }

/*# sourceMappingURL=style.css.map */
